doctype html
html
  head
    meta(charset='UTF-8')
    title 视觉编译
    meta(name='keywords', content='')
    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    link(rel='stylesheet', href='css/style.css')
    script(src='jquery.js')
    script.
      $("html,body").animate({scrollTop: $("#elementid").offset().top}, 1000);
  body
    .mod-header
      .layout
        a.mod-header-logo(href='/', _stat_click_id='header_logo')
        .mod-header-nav
          ul
            li
              h2
                a(href='##') UI元素识别
            li
              h2
                a(href='##', _stat_click_id='header_accelerator') UI标注辅助
            li
              h2
                a(href='##', _stat_click_id='header_info') 页面布局识别

        .mod-header-user
          .avatar(style="background-image: url(http://dcloud.oa.com/Public/Avatar/stevenpan.png")
          .name stevenpan

        .mod-header-other
          ul
            li
              h2
                a(href='##', _stat_click_id='header_info') 开发文档
            li
              h2
                a(href='##', _stat_click_id='header_info') 设计文档



    .banner(style="background-image: url(img/banner1.jpg);")
      .banner-video
        .play-video.play-banner
        //- video#bannerVideo(src='video/d.ogv',width="100%",height="100%",loop,preload)
      .layout.clearfix
        .banner-intro
          h1.banner-name 设计编译
          p.banner-des
            | 通过算法把设计稿 PSD、Sketch 翻译为计算机语言 
            br
            |  适用于Ios、Android、H5 等平台
          .banner-btns
            a.btn.btn-consult.jmod-contact-qq(href='#experience') 立即体验
    .sec.scene
      .layout
        h1#scene 应用场景
        ul
          li.scene-item
            .scene-item-img
              img(src='img/p1.jpg')
              h5 设计还原
            .scene-item-des 把设计稿转为UI代码，适用绝对布局及autolayout。
          li.scene-item
            .scene-item-img
              img(src='img/p2.jpg')
              h5 多终端适配
            .scene-item-des 能提供Ios、Android、H5等平台语言的支持，同时能兼容各分辨率屏幕。
          li.scene-item
            .scene-item-img
              img(src='img/p5.jpg')
              h5 视觉校对
            .scene-item-des 与规范文档智能比对，筛选出不符合要求的设计，并对问题进行重要程度排序

          li.scene-item
            .scene-item-img
              img(src='img/p3.jpg')
              h5 快速验证
            .scene-item-des 上传设计稿即生成在线地址，以快速验证在各手机端的表现
          li.scene-item
            .scene-item-img
              img(src='img/p6.jpg')
              h5 色彩搭配
            .scene-item-des 提取出页面中所以用到的色彩占比，方便设计查看色彩的搭配比例，配色方案智能推荐与测试
          li.scene-item
            .scene-item-img
              img(src='img/p4.jpg')
              h5 辅助创作
            .scene-item-des 帮助设计师排查错误，减少重复工作

    .sec.support
      .layout
        h1#advantage 方案优势
        ul
          li.support-item
            //img.i(src="https://main.qcloudimg.com/raw/549cc6deb4887efb314b58b2673da568.svg")
            img.i(src="img/4.svg")
            h3 多平台适应
            p 设计数据抽象DSL，能输出Ios、Android、H5所需语言
          li.support-item
            //img.i(src="https://main.qcloudimg.com/raw/04936582cda984795c47104f3e36b011.svg")
            img.i(src="img/5.svg")
            h3 多格式支持
            p 支持sketch、psd两种格式代码转换，满足不同的设计需求
          li.support-item
            //img.i(src="https://main.qcloudimg.com/raw/40dcdfd2fb235992aacd2c2f20743b91.svg")
            img.i(src="img/3.svg")
            h3 数据收集
            p 自动提取设计稿中的组件，用于规范校验及组件库生成
          li.support-item
            //img.i(src="https://main.qcloudimg.com/raw/a67ba9171aed95d8bf8c60d444f13d61.svg")
            img.i(src="img/6.svg")
            h3 拟人化结构 
            p 通过AI训练，自动识别页面组件，从而输出更合理页面结构
          li.support-item
            //img.i(src="http://imgcache.qq.com/open_proj/proj_qcloud_v2/gateway/portal/css/img/home2017/market/mirror-actived.svg")
            img.i(src="img/2.svg")
            h3 精确还原
            p 程序解析设计参数一对一翻译，确保设计稿100%精确还原
          li.support-item
            //img.i(src="https://main.qcloudimg.com/raw/9dd4891742d89dbc24705e88f1b2d80c.svg")
            img.i(src="img/1.svg")
            h3 图形处理
            p 识别设计图层中的图形元素，把同一单元的图形，智能合并为图片

    .ai-footer
      .layout
        .col
          .col-title 加入我们
          .col-content
            p 志愿者要求：机器学习方向，计算机视觉方向，图像识别处理方向
            br
            p.mail 联系方式：<br/>stevenpan@tencent.com
        .col
          .col-title 团队成员
          .col-content
            ul.members
              li 
                img(src="img/members/kahnjin.jpg")
                span kahnjin
              li 
                img(src="img/members/trevorpang.jpg")
                span trevorpang
              li 
                img(src="img/members/skymlhuang.jpg")
                span skymlhuang
              li 
                img(src="img/members/alltasxiao.jpg")
                span alltasxiao
              li 
                img(src="img/members/bowentang.jpg")
                span bowentang
              li 
                img(src="img/members/chironyang.jpg")
                span chironyang
              li 
                img(src="img/members/chrisschen.jpg")
                span chrisschen
              li 
                img(src="img/members/ralychen.jpg")
                span ralychen
              li 
                img(src="img/members/yixionglin.jpg")
                span yixionglin
              li 
                img(src="img/members/yonechen.jpg")
                span yonechen
              li 
                img(src="img/members/stevenpan.jpg")
                span stevenpan

        .col
          .col-content
            .qrcode
      #jmod-fixed-bar.fixed-bar
        a.item.qq.jmod-contact-qq(href='https://support.qq.com/products/33596', title='意见反馈', _stat_click_id='fixedbar_contactqq')
        a#jmod-backtotop-wrap.item.backtop(href='#', title='返回顶部', style='visibility: hidden;', _stat_click_id='fixedbar_backtotop')
    .video-wrap
      .play-close
      video#video(src='video/d.ogv',width="100%",height="100%",loop,preload)

  script(src="js/jquery.js")
  script.
    $(".play-video").on('click',function(){
      $('.video-wrap').show();
      $('.video-wrap')[0].offsetTop;
      $('.video-wrap').addClass('on');
      if($(this).hasClass('play-advan')){
        $('#video').prop('src','video/d.ogv')[0].play();
      }else if($(this).hasClass('play-banner')){
        $('#video').prop('src','video/d.ogv')[0].play();
      }
    });
    $(".play-close").on('click',function(){
      $('#video')[0].pause();
      $('.video-wrap').removeClass('on').hide();
    });
    $(window).on("scroll",function(){
      if(window.scrollY>300){
        $('#jmod-backtotop-wrap').css('visibility','visible');
      }else{
        $('#jmod-backtotop-wrap').css('visibility','hidden');
      }
    });