doctype html
html
  head
    meta(charset='UTF-8')
    title 设计编译
    meta(name='keywords', content='')
    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    link(rel='stylesheet', href='css/login.css')

  body.page-login
    .wrap
      .qr
        img(src='img/qr.png')
      p QQ/微信 扫码登录
