doctype html
html
  head
    meta(charset='UTF-8')
    title 个人中心
    meta(name='keywords', content='')
    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    link(rel='stylesheet', href='css/page.css')
    script(src='https://xshow.tencent.com/s/static/js/jquery.js')
    script.
          $(document).ready(function(){
              //匹配
              $('.modal__btn-close').click(function(){
                  $('.modal-mod').removeClass("z-display");
                  $('.modal-mod').addClass("hidden");
              });
              //游戏
              $('.btn-main-add').click(function(){
                  $('.modal-mod').removeClass("hidden");
                  $('.modal-mod').addClass("z-display");
              });
              //玩伴
              $('.tab3').click(function(){
                  $('.pagewrap').removeClass("z-display");
                  $('.page-friendlist').addClass("z-display");

                  $('.md-tab li').removeClass("active");
                  $(this).addClass("active");
              });

              //QQ好友在玩
              $('.mod-qqfriend').click(function(){
                  $('.pagewrap').removeClass("z-display");
                  $('.page-friendlistmore').addClass("z-display");
                  $('.page-friendlist').addClass("z-hide");
                  $('.md-tab').addClass("z-hide");
              });
          });

  body.page-personal
    .page-header
      nav.header-navbar
        .container
          a.navbar-logo.router-link-active(href='/')
          .header-navbar__main
            ul.navbar-nav
              li.nav-item
                a.nav-link.router-link-active(href='/alltasxiao/') 我的项目
              //li.nav-item
                a.nav-link(href='/alltasxiao/follow') 我的关注
              li.nav-item
                a.nav-link(href='/docs') 返回官网
              li.nav-item
                a.nav-link.search(href='/search')
          .user-info.dropdown
            .dropdown-toggle
              span.avatar(style='background-image: url("https://xshow.tencent.com/s/avatar/5f5f4e144b73f9fc.png");')
              span.user-name alltasxiao
            .dropdown-menu
              a.dropdown-item(href='javascript:;') 退出登录
      .header-main
        .container
          .header-main-inner
            .user-title
              span.avatar(style='background-image: url("https://xshow.tencent.com/s/avatar/5f5f4e144b73f9fc.png");')
              h2.txt
                span.user-name alltasxiao
            //新增项目
            button.btn-main.btn-main-add.btn(role='button')
    .page-main
      .resource-area
        .resource-navbar
          .container
            ul.navbar-nav
              li.nav-item
                span.nav-link 
              li.nav-item
                span.nav-link 
        .container
          .navbar-control
            .navbar-control__sub
              h2.mod-title 我的项目（3）
            //.navbar-control__main
              button.navbar-control__btn.btn.navbar-control__btn-list
          .resource-main
            .resource-wrap
              ul.resource-list.project
                li.resource-item
                  .resource-item__inner
                    .img-wrap
                      .imgs
                        .imgs-inner
                          span.img.empty
                            span.empty-txt 暂无文件
                      .mask-wrap
                        .btn-more-wrap.dropdown
                          button.btn-more
                          ul.dropdown-menu
                            li.dropdown-item 编辑
                        ul.member-list
                          li.item.avatar(style='background-image: url("https://xshow.tencent.com/s/avatar/5f5f4e144b73f9fc.png");')
                          // 
                    .info-bar
                      span.avatar(style='background-image: url("https://xshow.tencent.com/s/avatar/5f5f4e144b73f9fc.png");')
                      .content
                        .name
                          span.txt test
                        .info
                          .time 2018-08-08 15:47:2 更新
                          .level
                            span.item 管理员
                            // 
                li.resource-item
                  .resource-item__inner
                    .img-wrap
                      .imgs.less(style='background-image: url("https://xshow.tencent.com/s/guide/180125/175858_4860515_ca03418454a2ad14ff9862775c794cfc_blur.jpg");')
                        b.mask
                        .imgs-inner
                          span.img(style='background-image: url("https://xshow.tencent.com/s/guide/180125/175858_4860515_ca03418454a2ad14ff9862775c794cfc_m.jpg");')
                      .mask-wrap
                        .btn-more-wrap.dropdown
                          button.btn-more
                          ul.dropdown-menu
                            li.dropdown-item 编辑
                        ul.member-list
                          li.item.avatar(style='background-image: url("https://xshow.tencent.com/s/avatar/5f5f4e144b73f9fc.png");')
                          li.item.avatar(style='background-image: url("https://xshow.tencent.com/s/avatar/84f78636ee6597df.png");')
                          // 
                    .info-bar
                      span.avatar(style='background-image: url("https://xshow.tencent.com/s/avatar/5f5f4e144b73f9fc.png");')
                      .content
                        .name
                          span.txt 默认
                        .info
                          .time 2018-06-01 15:1:1 更新
                          .level
                            span.item 管理员
                            // 
                li.resource-item
                  .resource-item__inner
                    .img-wrap
                      .imgs
                        .imgs-inner
                          span.img.custom(style='background-image: url("https://xshow.tencent.com/s/upload/171214/173826_4931606.png");')
                            span.empty-txt 暂无文件
                      .mask-wrap
                        .btn-more-wrap.dropdown
                          button.btn-more
                          ul.dropdown-menu
                            li.dropdown-item 项目信息
                        ul.member-list
                          li.item.avatar(style='background-image: url("https://xshow.tencent.com/s/avatar/5f5f4e144b73f9fc.png");')
                    .info-bar
                      span.avatar(aria-describedby='tooltip_gj0ihedawj', style='background-image: url("https://xshow.tencent.com/s/avatar/a011165f22316bf5.png");')
                      .content
                        .name
                          span.txt 新手教程
                        .info
                          .time 1970-01-01 8:0:0 更新
                          .level

    .notifications(style='top: 0px; right: 0px;')
      span



    .modal-mod.hidden
      .modal-box
        .modal-inner
          .creat-proj
            .modal__title
              // 
            .modal__body
              .proj-name
                input.proj-name-input.input-txt(type='text', placeholder='文件夹名称', autocomplete='off')

              .proj-cover
                .proj-cover-main
                  .cover-wrap
                    .upload-tips
                      span.txt 将sketch/xd拖到此处上传（体积少于200M）!
                    form#projCoverUpload.vue-dropzone.dropzone.dz-clickable(action='https://xshow.tencent.com/s/file/upload', options='[object Object]')
                      input(type='hidden', name='token', value='xxx')
                      .dz-default.dz-message
                        span
                          i.material-icons cloud_upload
                          br
                          | Drop files here to upload
                  .cover-view-wrap(style='display: none;')
              //.proj-members
                .title
                  | 共享成员
                  span （点击成员名，设置/取消管理员）
                  | :
                .member-input-wrap
                  .member-items
                    span.member-item.author(style='cursor: default;')
                      alltasxiao(创建者)
                    input.member-input(type='text', style='')
            .modal__footer
              .modal__footer-sub
                button.modal__act-btn.modal__act-btn--primary(role='button') 创建
          button.modal__btn-close.btn