<section class="visitor-list-panel">
    <h1 class="visitor-num" v-cloak>最近访问人数:<span class="num-val">{{visitors.length}}</span></h1>
    <ul class="visitor-list">
        <li class="visitor-item" v-bind:data-id="visitor.staffid" v-for="(visitor,index) in visitors">

            <img class="visitor-avatar" v-cloak v-bind:src="'http://dcloud.oa.com/Public/Avatar/'+visitor.staffname+'.png'" />
            <div class="user-info">
                <div class="user-name" v-cloak>{{visitor.ChnName}}({{visitor.staffname}})</div>

                <div class="last-login-time" v-cloak>{{new Date(visitor.last_login_time).toLocaleString()}}</div>

                <div class="user-deptname" v-text="visitor.DeptName"></div>
            </div>
        </li>
    </ul>
</section>