<!-- 中:预览 -->
<section class="screen-viewer dragscroll">
  <div class="screen-viewer-inner">
    <!-- 素材图和设计图 -->
    <div class="design-coding-panel">
      <!-- 2018-10-12：设计稿图 -->
      <div class="design-img-panel">
        <h1 class="design-title">设计稿</h1>
        <div
          class="design-img"
          style="width:420px; height: 747px;overflow-y: auto;"
        >
          <img src="" id="design-img-prew" />
        </div>
      </div>
      <!-- 编译结果 -->
      <div class="compile-result-panel">
        <h1 class="compile-title">编译结果</h1>
        <iframe
          frameborder="0"
          scrolling="auto"
          style="width:420px; height: 747px;"
          class="screen"
          src=""
          id="screen"
        ></iframe>
      </div>
    </div>
    <!-- 获取当前设计稿图按钮 -->
    <div class="design-img-btn" data-show="0">比对设计稿</div>
    <!-- 生成模式:1.普通规则   2.AI模式 -->

    <ul class="compilation-mode-list">
      <li class="compilation-mode-item ordinary-mode-item">
        <input
          type="radio"
          id="ordinary-mode"
          name="compilation-mode"
          value="0"
          checked
        />
        <label for="ordinary-mode">普通模式</label>
      </li>
      <li class="compilation-mode-item ai-mode-item">
        <input type="radio" id="ai-mode" name="compilation-mode" value="1" />
        <label for="ai-mode">AI模式</label>
        <input
          type="file"
          class="upload-ai-img"
          id="upload-img"
          accept="image/gif,image/jpeg,image/jpg,image/png,image/svg"
          style="visibility:hidden;"
        />
      </li>
    </ul>
  </div>
</section>
