<!-- 中:预览 -->
<section class="screen-viewer dragscroll">
  <div class="screen-viewer-inner">
    <!-- 素材图和设计图 -->
    <div class="design-coding-panel">
      <div class="compile-result-panel">
        <!-- 2018-12-06:滑动区域 -->
        <div class="slider-compare-panel">
          <input
            class="area-slider"
            id="area-slider"
            data-slider-id="data-area-slider"
            type="text"
            data-slider-min="0"
            data-slider-max="100"
            data-slider-step="1"
            data-slider-value="50"
          />
          <input
            class="opacity-slider"
            id="opacity-slider"
            data-slider-id="data-opacity-slider"
            type="text"
            data-slider-min="0"
            data-slider-max="100"
            data-slider-step="1"
            data-slider-value="50"
            data-slider-orientation="vertical"
          />
        </div>
        <!-- 2018-10-12：设计稿图 -->
        <div class="design-img-panel">
          <div class="design-img" style="width:420px; min-height: 747px;">
            <img src="" id="design-img-prew" />
          </div>
        </div>
        <!-- 2018-12-05:操作区域 -->
        <div class="operate-dom-panel">
          <!-- 移入样式 -->
          <div class="rules">
            <div class="rule rule-v"></div>
            <div class="rule rule-h"></div>
          </div>
          <!-- 选中样式 -->
          <div class="choose-dom-style">
            <span class="dom-width-val" data-need="unit" data-real=""></span>
            <span class="lt"></span> <span class="lb"></span>
            <span class="rt"></span> <span class="rb"></span>
            <span class="dom-height-val" data-need="unit" data-real=""></span>
          </div>
          <!-- 测距样式 -->
          <div id="td" class="distance top-d">
            <div class="line-t-before"></div>
            <div class="line-t-after"></div>
            <div class="line-t"></div>
            <div class="top-d-v">上</div>
          </div>
          <div id="rd" class="distance right-d">
            <div class="line-t-before"></div>
            <div class="line-t-after"></div>
            <div class="line-r"></div>
            <div class="right-d-v">右</div>
          </div>
          <div id="bd" class="distance bottom-d">
            <div class="line-t-before"></div>
            <div class="line-t-after"></div>
            <div class="line-b"></div>
            <div class="bottom-d-v">下</div>
          </div>
          <div id="ld" class="distance left-d">
            <div class="line-t-before"></div>
            <div class="line-t-after"></div>
            <div class="line-l"></div>
            <div class="left-d-v">左</div>
          </div>
        </div>
        <!-- 编译结果 -->
        <iframe
          frameborder="0"
          scrolling="auto"
          style="width:420px;height: 747px;"
          class="screen"
          src=""
          id="screen"
        ></iframe>
      </div>
    </div>
  </div>
</section>

<!--咨询入口-->
<div id="jmod-fixed-bar" class="fixed-bar">
    <a
      href="https://support.qq.com/products/33596" target="_blank"
      title="意见反馈" class="item feedback"></a>
</div>