<header id="app">
  <div class="header-left">
    <ul class="tab header-list">
      <li class="icon-logo"></li>
      <li class="header-item current">页面</li>
      <li class="header-item">img</li>
      <li class="header-item structure">结构</li>
    </ul>
  </div>
  <div class="header-center">

    <div v-if="user.staffname!=''" class="user-info"><a href="/person" class="nav-link">
      <span
        v-bind:style="{backgroundImage: 'url(http://dcloud.oa.com/Public/Avatar/'+user.staffname+'.png)'}"
        class="avatar"
      ></span
      ><span class="user-name">{{ user.staffname }}</span></a>
    </div>
  </div>
  <div class="header-right">
    <div id="unit" class="unit-box" tabindex="0">XHDPI @2x (dp/sp)</div>
  </div>
  <div class="qr">
    <i>
      <div class="qr-code"></div>
      <input class="current-url" type="text" value="" readonly />
    </i>
  </div>
</header>
