@charset "UTF-8";
@import "../_global/reset";
@import "../person/header.scss";
//中间区域
@import "../visitor/main.scss";

body {
  background-color: #f2f2f2;
  overflow-y: auto;
}
.user-info-panel {
  cursor: pointer;
}
