<div class="page-main">
         <div class="resource-area">
          <div class="resource-navbar">
            <div class="container">
              <ul class="navbar-nav">
                <li class="nav-item"><span class="nav-link"></span></li>
                <li class="nav-item"><span class="nav-link"></span></li>
              </ul>
            </div>
          </div>
          <div class="container">
            <div class="navbar-control">
              <div class="navbar-control__sub">
                <h2 class="mod-title" v-cloak>所有项目（{{ projects.length }}）</h2>
              </div>
            </div>
            <div class="resource-main">
              <div class="resource-wrap">
                <ul class="resource-list project">
                  <!-- item -->
                  <!-- item -->
                  <li class="resource-item" v-for="(pro,index) in projects">
                    <div
                      class="resource-item__inner"
                      v-bind:data-pid="pro.projectId"
                      v-bind:data-pname="pro.projectName"
                    >
                      <div class="img-wrap">
                        <div
                          v-bind:style="{backgroundImage: 'url(http://10.64.70.68:8080/unzip_file/'+pro.projectName+'/previews/preview.png)'}"
                          class="imgs less"
                        >
                          <b class="mask"></b>
                          <div class="imgs-inner">
                            <span class="img" style="opacity:0;"></span>
                          </div>
                        </div>
                        <div class="mask-wrap" v-on:click="viewProjectById" v-bind:data-projectid="pro.projectId" v-bind:data-projectname="pro.projectName">
                          <!-- 项目所有者是当前用户，则可以删除该项目 -->
                          <div class="btn-more-wrap dropdown" v-if="user.staffid==pro.userid">
                            <button class="btn-more"></button>
                            <ul class="dropdown-menu">
                              <li class="dropdown-item" v-on:click.stop="editUrl('/edit?id='+pro.projectId+'&name='+pro.projectName)">编辑</li>
                                  <li
                                  class="dropdown-item"
                                  v-on:click.stop="deleteProjectById"
                                  :id="pro.id"
                                >
                                  删除
                                </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="info-bar">
                        <div class="content">
                          <div class="name">
                            <span class="txt">{{ pro.projectName.substring(pro.projectName.indexOf("_")+1) }}</span>
                            <div class="time">
                                {{ new Date(pro.modifytime).toLocaleString() }}
                              </div>
                          </div>
                          <div class="info">
                            <div class="user-info-panel">
                                <span v-bind:style="{backgroundImage: 'url(http://dcloud.oa.com/Public/Avatar/'+pro.username+'.png)'}" class="avatar" v-cloak></span>
                                <span class="user-name" v-text="pro.username"></span>
                            </div>
                         
                            <div class="copy-btn" v-on:click="copyUrl" data-clipboard-action="copy" :data-clipboard-target="'#copy-my'+index">复制链接</div>
                            <span class="url" :id="'copy-my'+index" v-cloak>{{
                                'http://uitocode.oa.com/edit?id='+ pro.projectId + '&name=' +
                                encodeURIComponent(encodeURIComponent(pro.projectName))
                                }}</span>
                        </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>