@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  -webkit-user-select: none;
  min-width: 1024px;
  font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #989A9C;
  background: #191919;
  letter-spacing: 1px;
  overflow: hidden;
}

body {
  font-family: -apple-system, PingFang SC, SF UI Text, Arial, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
  position: relative;
  -webkit-user-select: none;
}

.qr {
  margin-top: 15px;
  vertical-align: middle;
  cursor: pointer;
  width: 52px;
  height: 32px;
  display: inline-block;
  position: relative;
  background-image: url(../img/qr.png);
  background-position: center;
  background-repeat: no-repeat;
  opacity: .7;
}
.qr:hover {
  opacity: 1;
}
.qr:hover i {
  position: absolute;
  top: 32px;
  right: 11px;
  z-index: 2;
  display: inline-block;
  width: 400px;
  height: 430px;
  background-size: 100% 100%;
  background-color: #fff;
  text-align: center;
}
.qr:hover i canvas {
  margin: 16px auto;
  display: block;
}
.qr:hover input {
  visibility: inherit;
  margin: 10px auto;
  display: block;
  height: auto;
  padding: 3px 5px;
  left: 20px;
  bottom: 5px;
  width: 360px;
  visibility: visible !important;
}

.btn {
  position: absolute;
  bottom: 50px;
  left: 40px;
  width: 120px;
  display: inline-block;
  margin-right: 20px;
  margin-top: 15px;
  padding: 5px 15px;
  border-radius: 20px;
  background: #3484F5;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-align: center;
  color: #FFF;
  vertical-align: middle;
  cursor: pointer;
}
.btn:hover {
  opacity: .9;
}
.btn:active {
  opacity: .7;
}

.z-hidden {
  display: none !important;
}

.z-display {
  display: block !important;
}

/*header
-----------------------------------------------------------------------*/
header {
  display: block;
  text-align: right;
  height: 60px;
  z-index: 215;
  background: #000;
}

.header-left {
  float: left;
  width: 240px;
  height: 60px;
  background: #0F0F0F;
}

.header-left .tab {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.header-left .tab li {
  flex: 1;
  height: 60px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}

.header-left .tab li.current {
  background-color: #232527;
}

.header-left .tab li.icon-logo:before {
  content: "";
  float: left;
  width: 168px;
  height: 60px;
  position: relative;
  z-index: 100;
  background-image: url(../img/sprite-ad720473bfcommon.png);
  background-position: 22px -64px;
  margin-left: -10px;
  overflow: hidden;
}

.header-left .tab li.current:before {
  background-position-x: 0;
}

.header-left .tab, .header-left .tab li {
  display: flex;
}

.header-left .tab li {
  cursor: pointer;
}

.header-center {
  position: absolute;
  left: 240px;
  right: 240px;
  display: inline-block;
  text-align: right;
  margin: 12px 10px 0 0;
  height: 60px;
}

.header-right {
  float: right;
  width: 240px;
  line-height: 60px;
  height: 60px;
  background: #0F0F0F;
  text-align: left;
  vertical-align: middle;
}

main {
  position: relative;
  height: calc(100vh - 60px);
}

.zoom-widget {
  display: flex;
  width: 100px;
  margin: 10px 0 0 20px;
}

.zoom-widget button {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 0;
  background: #3484F5;
  cursor: pointer;
}

.zoom-widget button:after, .zoom-widget button:before {
  position: absolute;
  top: 9px;
  left: 5px;
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  background: #FFF;
}

.zoom-widget button:after {
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
}

.zoom-widget button:disabled {
  background: #222;
  cursor: default;
}

.zoom-widget button:disabled:after, .zoom-widget button:disabled:before {
  background: #606264;
}

.zoom-widget button.zoom-in:after {
  display: none;
}

.zoom-widget .zoom-text {
  display: block;
  text-align: center;
  line-height: 20px;
  flex: 1;
}

/*2018-08-24:顶部数据区域*/
.basic-data {
  display: none;
}

/*左:导航
-----------------------------------------------------------------------*/
.navbar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 240px;
  background: #232527;
  z-index: 50;
  left: -240px;
  width: 240px;
}

.navbar.on {
  left: 0;
}

.navbar section {
  position: relative;
  overflow: auto;
}

.artboard-list {
  width: 240px;
  padding-bottom: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
  height: calc(100% - 186px);
}

.artboard-list li {
  padding: 16px;
  display: flex;
  cursor: pointer;
}

.artboard-list li:hover {
  background: #191A1E;
}

.artboard-list li.active {
  background: #454748;
}

.preview-img {
  display: block;
  width: 44px;
  height: 44px;
  background: rgba(0, 0, 0, 0.32);
  text-align: center;
}

.preview-img:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.preview-img img {
  max-width: 44px;
  max-height: 44px;
  background: #FFF;
  vertical-align: middle;
}

.artboard-list li div {
  position: relative;
  width: 100%;
  padding: 0 0 0 16px;
  flex: 1;
}

.artboard-list li div {
  padding: 6px 0 4px 16px;
}

.artboard-list h3 {
  margin: 0 0 4px;
  padding: 0;
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artboard-list small {
  font-size: 10px;
}

.artboard-list li.active small {
  color: #FFF;
}

.pages-select {
  width: 240px;
  padding: 24px 0;
  position: relative;
  clear: both;
}

.pages-select h3 {
  margin: 0;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: #FFF;
  cursor: pointer;
}
.pages-select h3 em {
  padding-left: 2px;
  font-style: normal;
  font-size: 10px;
  color: #989A9C;
}
.pages-select h3:after {
  content: "";
  margin: 0 0 0 4px;
  width: 12px;
  height: 6px;
  display: inline-block;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAMAgMAAAAFXpXmAAAACVBMVEUAAABiZGZgYmThY1mHAAAAAnRSTlMAgJsrThgAAAA1SURBVAjXFckxAQAgDMTAZ6kI1KAHNYjoAipJsmS47Ec303XKnQy3AkIRm5UUUAIhERIhEfoqmRfpcqcFcAAAAABJRU5ErkJggg==) no-repeat;
  background-size: 12px 6px;
}

.features-list {
  padding: 10px 0;
  text-align: center;
}
.features-list li {
  text-align: center;
  padding: 0 !important;
  width: 46px;
  height: 46px;
  line-height: 46px;
  margin: 5px;
  display: inline-block;
  overflow: hidden;
  border: 1px solid #141414;
  border-radius: 3px;
  background-color: #171717;
  vertical-align: middle;
}
.features-list li:hover {
  background-color: #fff;
}
.features-list li:active {
  background-color: rgba(255, 255, 255, 0.5);
}
.features-list img {
  margin-top: 7px;
  width: 32px;
  height: 32px;
  vertical-align: middle;
}
.features-list .opacity {
  opacity: 0;
}

/*中:预览
-----------------------------------------------------------------------*/
.screen-viewer {
  position: absolute;
  width: 100%;
  height: calc(100vh - 60px);
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMAUvP2/eAAAAARSURBVAjXY6ASYD6ATlAHAADy5gMN0fCqFwAAAABJRU5ErkJggg==) #191919;
  background-size: 16px 16px;
  overflow: auto;
}

.screen-viewer-inner {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  text-align: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  height: 100%;
}
.screen-viewer-inner .compilation-mode-list {
  margin-top: 30px;
}
.screen-viewer-inner .compilation-mode-list .compilation-mode-item {
  position: relative;
  list-style: none;
  display: inline-block;
  height: 26px;
  line-height: 26px;
}
.screen-viewer-inner .compilation-mode-list .compilation-mode-item.ai-mode-item {
  margin-left: 30px;
}
.screen-viewer-inner .compilation-mode-list .compilation-mode-item input {
  position: relative;
  visibility: visible;
  width: 16px;
  height: 16px;
}
.screen-viewer-inner .compilation-mode-list .compilation-mode-item label {
  font-size: 15px;
  vertical-align: top;
}

.screen {
  background: #FFF;
}

/*右:导航
-----------------------------------------------------------------------*/
.inspector {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  width: 240px;
  background: #232527;
  z-index: 1;
}

.inspector {
  right: 0;
  display: block;
  overflow: auto;
}

.inspector h2 {
  font-size: 12px;
  line-height: 24px;
  padding: 12px 16px;
  text-align: center;
}

.inspector h3 {
  height: 32px;
  font-size: 12px;
  line-height: 32px;
  padding: 0 16px;
  background-image: linear-gradient(90deg, rgba(0, 4, 9, 0.32) 0, rgba(0, 2, 4, 0) 100%);
}

.inspector li {
  padding: 10px;
}

.unit-box {
  height: 60px;
}

.unit-box .overlay {
  content: "";
  position: absolute;
  top: 60px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 60px);
  display: none;
  background: rgba(0, 0, 0, 0.56);
  z-index: 1;
}

.unit-box:focus .overlay {
  display: block;
}

.unit-box:focus {
  height: auto;
  outline: 0;
}

.unit-box h3, .unit-box p {
  position: relative;
  margin: 0;
  padding: 20px 20px 20px 54px;
  display: block;
  height: 100%;
  line-height: 20px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}

.unit-box h3, .unit-box:focus p {
  display: none;
}

.unit-box h3:before, .unit-box p:before {
  position: absolute;
  top: 18px;
  left: 18px;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwAgMAAAAqbBEUAAAADFBMVEUAAABhY2VgZGdgYmRubxBCAAAAA3RSTlMA5EpWbVq4AAAALUlEQVQoz2OgOuD8DwTfoBx2EOcvlMP/HwSwcsDEKIeKHETwEuZgRBYiGqkNAFJPNT9Sw3d/AAAAAElFTkSuQmCC) no-repeat;
  background-size: 24px 24px;
}

.unit-box ul {
  position: absolute;
  margin: 0 0 0 240px;
  padding: 0;
  list-style: none;
  background: #0F0F0F;
  width: 240px;
  height: calc(100vh - 61px);
  overflow: auto;
  display: block;
  transition: all .15s ease;
  z-index: 2;
}

.unit-box:focus h3 {
  color: #3A3A3A;
  display: block;
}

.unit-box:focus ul {
  margin: 1px 0 0;
}

.unit-box .sub-title, .unit-box label {
  display: flex;
  padding: 14px 20px;
}

.unit-box label {
  cursor: pointer;
}

.unit-box li:hover label {
  color: #FFF;
}

.pages-list {
  display: none;
  position: absolute;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  margin: -32px 0 0;
  padding: 8px;
  border-radius: 4px;
  list-style: none;
  width: 180px;
  background: #0F0F0F;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.8);
}
.pages-list li label {
  display: block;
  padding: 10px;
  cursor: pointer;
}
.pages-list li label span em {
  font-style: normal;
}
.pages-list li label span:before {
  position: absolute;
  right: 8px;
}

.page-list label span, .unit-box label span {
  flex: 1;
  display: block;
}

.page-list input, .unit-box input {
  position: absolute;
  visibility: hidden;
}

.page-list span:before, .unit-box span:before {
  float: right;
  display: block;
  content: "";
  width: 16px;
  height: 16px;
}

.page-list input:checked + span:before, .page-list label:hover span:before, .unit-box input:checked + span:before, .unit-box label:hover span:before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAADICAMAAAAp4rTzAAAAaVBMVEUAAACYm5yYm500hPaDoMKYucs0hfaYm52Znp6bnZ01hfeYnJ2Zm540hvc8iv81hPWYm52YnJ2ZnJ01h/g2ifmcnJw4h/o1hfY1hfU1hfY1hfU1hfY0hfaZnJ41hfY2h/aYnJw0hfU0hPbpk+wAAAAAInRSTlMAo5LmCAP0nDIVeHFNSg6diGVZNCciGtvSw7arj3xpVkSETvQOmQAAAPlJREFUeNrt1MtuwjAQheFxYhNyIUBCwqXcOu//kHWMl6wqRlWl/1tYs5ojzZEsAH7rUZYbMXZX1VJsfat5SNhqtDI9l/+yyuibps/TOd1qlM+7qB7nZZhPKeMgBlZ58+Go0WkWC6+ux7HU6NyLidz2ankvXoyEq2bbIHYaTa5i6q5RI8Y2ZfkQAAAAAAAAAAAAAAAA4K11UazF2NM5V4itwZmHhL2LKtNzhdYqw3edz9Mt3WqSz2ud29XLUO9SRi0Gqry5LpxLeRZeXU9Tyrh5MZHbrpa39WIkDC7bB7HTuWQQU08XdfLOP/sVAQAAAAAAAAAAAAD4Yz84hg8qlGTZeQAAAABJRU5ErkJggg==);
  background-size: 50px 100px;
}

.page-list label:hover span:before, .unit-box label:hover span:before {
  background-position: 0 -50px;
}

.page-list input:checked + span:before, .unit-box input:checked + span:before {
  background-position: 0 0;
}

.unit-box .sub-title {
  font-size: 12px;
  background: #000;
  color: #3A3A3A;
}

.inspector .func-tab-list {
  font-size: 0;
  display: flex;
}
.inspector .func-tab-list .tab-item {
  display: inline-block;
  font-size: 14px;
  flex: 1;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}
.inspector .func-tab-list .tab-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.inspector .func-tab-list .tab-item.active {
  background-color: #0F0F0F;
}
.inspector .func-content-list .content-item {
  display: none;
  padding: 0;
}
.inspector .func-content-list .content-item.active {
  display: block;
}
.inspector .func-content-list .content-item.material-content-panel .img-item-list .img-item {
  padding: 10px;
}
.inspector .func-content-list .content-item.material-content-panel .img-item-list .img-item:first-child {
  margin-top: 0;
}
.inspector .func-content-list .content-item.material-content-panel .img-item-list .img-item img {
  max-width: 100%;
}
.inspector .func-content-list .content-item.material-content-panel .img-item-list .img-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.magnify-modal {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
}

.magnify-header .magnify-toolbar {
  background-color: rgba(0, 0, 0, 0.5);
}

.magnify-stage {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-width: 0;
}

.magnify-footer .magnify-toolbar {
  display: inline-block;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.magnify-footer .magnify-toolbar .fa {
  font-size: 18px;
}
.magnify-footer .magnify-toolbar .magnify-button-download a {
  color: #cccccc;
}
.magnify-footer .magnify-toolbar .magnify-button-download:hover a {
  color: #FFFFFF;
}

.magnify-stage img {
  width: 0;
}

.magnify-loading {
  background-color: transparent;
}
