@charset "UTF-8";

@import "_global/reset";
@import "_global/header";
@import "_global/footer";

//中间区域
@import "index/main.scss";
body {
  position: relative;
  font: 12px/1.5 microsoft yahei, arial, sans-serif;
  color: $mine_shaft;
  background-color: $color_desert_storm_approx;
  min-width: 1200px;
  min-height: 100%; //Instead of the line below you could use @include box-sizing($bs)
  letter-spacing: 0;
  overflow: auto;
}
