@import "_global/reset";
@import "person/header.scss";
@import "material/main.scss";

body {
  color: #20203a;
  background-color: #f2f2f2;
  min-width: 750px;
  font-size: 12px;
  font-family: -apple-system, PingFang SC, SF UI Text, Arial, Hiragino Sans GB,
    Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
  overflow-y: auto;
}
