<div class="page-header">
  <nav class="header-navbar">
    <div class="container">
      <a href="#" class="navbar-logo router-link-active" v-on:click.stop="backIndex"></a>
      <div class="header-navbar__main">
        <ul class="navbar-nav" v-if="showNav&&user.groupname==1">
          <li class="nav-item">
            <a href="#" class="nav-link visitor-link" v-on:click="visitorNum">访问人数</a></li>
        </ul>
      </div>
      <div class="user-info">
        <div class="user-info-panel" v-on:click="backCenter">
          <span v-bind:style="{backgroundImage: 'url(http://dcloud.oa.com/Public/Avatar/'+user.staffname+'.png)'}" class="avatar" v-cloak></span>
          <span class="user-name" v-text="user.staffname"></span>
        </div>
        <a href="http://support.qq.com/products/33596" class="feed-back-btn" target="_blank">意见反馈</a></div>
    </div>
  </nav>
</div>

<script src="js/lib/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $(".demo-more").click(function(){
  $(".resource-list").toggle();
  });
});
</script>

<div class="page-demo">
  <div class="demo-more"></div>
  <ul class="resource-list project">
    <li class="resource-item">
      <div data-pid="4f3f32b0-f928-11e8-bddc-713a8b346d24" data-pname="20181206152643_游戏城" class="resource-item__inner">
        <div class="img-wrap">
          <div class="imgs less" style="background-image: url(&quot;http://10.64.70.80:8080/unzip_file/20181206152643_游戏城/previews/preview.png&quot;);">
            <b class="mask"></b>
            <div class="imgs-inner">
              <span class="img" style="opacity: 0;"></span>
            </div>
          </div>
          <div data-projectid="4f3f32b0-f928-11e8-bddc-713a8b346d24" data-projectname="20181206152643_游戏城" class="mask-wrap">
            <div class="btn-more-wrap dropdown">
              <button class="btn-more"></button>
              <ul class="dropdown-menu">
                <li class="dropdown-item">编辑</li>
                <li id="474" class="dropdown-item">删除</li></ul>
            </div>
          </div>
        </div>
        <div class="info-bar">
          <div class="content">
            <div class="name">
              <span class="txt">游戏城</span>
              <div class="time">2018/12/6 下午3:26:56</div></div>
            <div data-clipboard-action="copy" data-clipboard-target="#copy-0" class="info">
              <span id="copy-0" class="url">http://uitocode.oa.com/edit?id=4f3f32b0-f928-11e8-bddc-713a8b346d24&amp;name=20181206152643_%25E6%25B8%25B8%25E6%2588%258F%25E5%259F%258E</span></div>
          </div>
        </div>
      </div>
    </li>
    <li class="resource-item">
      <div data-pid="4f3f32b0-f928-11e8-bddc-713a8b346d24" data-pname="20181206152643_游戏城" class="resource-item__inner">
        <div class="img-wrap">
          <div class="imgs less" style="background-image: url(&quot;http://10.64.70.80:8080/unzip_file/20181206152643_游戏城/previews/preview.png&quot;);">
            <b class="mask"></b>
            <div class="imgs-inner">
              <span class="img" style="opacity: 0;"></span>
            </div>
          </div>
          <div data-projectid="4f3f32b0-f928-11e8-bddc-713a8b346d24" data-projectname="20181206152643_游戏城" class="mask-wrap">
            <div class="btn-more-wrap dropdown">
              <button class="btn-more"></button>
              <ul class="dropdown-menu">
                <li class="dropdown-item">编辑</li>
                <li id="474" class="dropdown-item">删除</li></ul>
            </div>
          </div>
        </div>
        <div class="info-bar">
          <div class="content">
            <div class="name">
              <span class="txt">游戏城</span>
              <div class="time">2018/12/6 下午3:26:56</div></div>
            <div data-clipboard-action="copy" data-clipboard-target="#copy-0" class="info">
              <span id="copy-0" class="url">http://uitocode.oa.com/edit?id=4f3f32b0-f928-11e8-bddc-713a8b346d24&amp;name=20181206152643_%25E6%25B8%25B8%25E6%2588%258F%25E5%259F%258E</span></div>
          </div>
        </div>
      </div>
    </li>
    <li class="resource-item">
      <div data-pid="4f3f32b0-f928-11e8-bddc-713a8b346d24" data-pname="20181206152643_游戏城" class="resource-item__inner">
        <div class="img-wrap">
          <div class="imgs less" style="background-image: url(&quot;http://10.64.70.80:8080/unzip_file/20181206152643_游戏城/previews/preview.png&quot;);">
            <b class="mask"></b>
            <div class="imgs-inner">
              <span class="img" style="opacity: 0;"></span>
            </div>
          </div>
          <div data-projectid="4f3f32b0-f928-11e8-bddc-713a8b346d24" data-projectname="20181206152643_游戏城" class="mask-wrap">
            <div class="btn-more-wrap dropdown">
              <button class="btn-more"></button>
              <ul class="dropdown-menu">
                <li class="dropdown-item">编辑</li>
                <li id="474" class="dropdown-item">删除</li></ul>
            </div>
          </div>
        </div>
        <div class="info-bar">
          <div class="content">
            <div class="name">
              <span class="txt">游戏城</span>
              <div class="time">2018/12/6 下午3:26:56</div></div>
            <div data-clipboard-action="copy" data-clipboard-target="#copy-0" class="info">
              <span id="copy-0" class="url">http://uitocode.oa.com/edit?id=4f3f32b0-f928-11e8-bddc-713a8b346d24&amp;name=20181206152643_%25E6%25B8%25B8%25E6%2588%258F%25E5%259F%258E</span></div>
          </div>
        </div>
      </div>
    </li>
    <li class="resource-item">
      <div data-pid="4f3f32b0-f928-11e8-bddc-713a8b346d24" data-pname="20181206152643_游戏城" class="resource-item__inner">
        <div class="img-wrap">
          <div class="imgs less" style="background-image: url(&quot;http://10.64.70.80:8080/unzip_file/20181206152643_游戏城/previews/preview.png&quot;);">
            <b class="mask"></b>
            <div class="imgs-inner">
              <span class="img" style="opacity: 0;"></span>
            </div>
          </div>
          <div data-projectid="4f3f32b0-f928-11e8-bddc-713a8b346d24" data-projectname="20181206152643_游戏城" class="mask-wrap">
            <div class="btn-more-wrap dropdown">
              <button class="btn-more"></button>
              <ul class="dropdown-menu">
                <li class="dropdown-item">编辑</li>
                <li id="474" class="dropdown-item">删除</li></ul>
            </div>
          </div>
        </div>
        <div class="info-bar">
          <div class="content">
            <div class="name">
              <span class="txt">游戏城</span>
              <div class="time">2018/12/6 下午3:26:56</div></div>
            <div data-clipboard-action="copy" data-clipboard-target="#copy-0" class="info">
              <span id="copy-0" class="url">http://uitocode.oa.com/edit?id=4f3f32b0-f928-11e8-bddc-713a8b346d24&amp;name=20181206152643_%25E6%25B8%25B8%25E6%2588%258F%25E5%259F%258E</span></div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>