<div class="page-header">
  <nav class="header-navbar">
    <div class="container">
      <a
        href="#"
        class="navbar-logo router-link-active"
        v-on:click.stop="backIndex"
      ></a>
      <div class="header-navbar__main">
        <!-- 隐藏链接-->
        <ul class="navbar-nav" v-if="showNav&&user.groupname==1">
          <li class="nav-item">
            <a href="#" class="nav-link projects-link" v-on:click="viewProjects"
              >所有项目</a
            >
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link visitor-link" v-on:click="visitorNum"
              >访问人数</a
            >
          </li>
        </ul>
        <!--显示链接-->
        <ul class="navbar-nav2">
          <li class="nav-item" v-on:click="goPlug" v-if="user.groupname==1">
            <a href="#" class="nav-link plug-link">开发者工具</a>
          </li>
          <li class="nav-item" v-on:click="goStandard">
            <a href="#" class="nav-link stander-link">设计规范</a>
          </li>
        </ul>
      </div>
      <div class="user-info">
        <div class="user-info-panel" v-on:click="backCenter">
          <span
            v-bind:style="{backgroundImage: 'url(http://dcloud.oa.com/Public/Avatar/'+user.staffname+'.png)'}"
            class="avatar"
            v-cloak
          ></span>
          <span class="user-name" v-text="user.staffname"></span>
        </div>
      </div>
    </div>
  </nav>
</div>
