<!-- 上传区域 -->
<div class="upload-panel">
    <form class="upload-form" enctype="multipart/form-data" method="post" name="fileinfo" id="uploadForm">
        <a href="javascript:;" class="choose-file-btn"> </a>
        <input type="file" name="content" class="choose-file-input" v-on:change="addProject" />
    </form>
</div>
<!-- main -->
<div class="page-main">
    <div class="resource-area">
        <div class="container">
            <div v-if="projects.length>0" class="project-list-panel">
            <div class="navbar-control">
                <div class="navbar-control__sub">
                    <h2 class="mod-title" v-cloak>我的项目（{{ projects.length }}）</h2>
                </div>
            </div>
            <div class="resource-main">
                <div class="resource-wrap">
                    <ul class="resource-list project">
                        <!-- item -->
                        <!-- item -->
                        <li class="resource-item" v-for="(pro,index) in projects">
                            <div class="resource-item__inner" v-bind:data-pid="pro.projectId" v-bind:data-pname="pro.projectName">
                                <div class="img-wrap">
                                    <div v-bind:style="{backgroundImage: 'url(http://10.64.70.80:8080/unzip_file/'+pro.projectName+'/previews/preview.png)'}"
                                         class="imgs less">
                                        <b class="mask"></b>
                                        <div class="imgs-inner">
                                             <span class="img" style="opacity:0;"></span>
                                        </div>
                                    </div>
                                    <div class="mask-wrap" v-on:click="viewProjectById" v-bind:data-projectid="pro.projectId"
                                        v-bind:data-projectname="pro.projectName">
                                        <div class="btn-more-wrap dropdown">
                                            <button class="btn-more"></button>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-item" v-on:click.stop="editProject(pro.projectId,pro.projectName)">编辑</li>
                                                <li class="dropdown-item" v-on:click.stop="deleteProjectById" :id="pro.id">
                                                    删除
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-bar">
                                    <div class="content">
                                        <div class="name">
                                            <span class="txt" v-cloak>{{
                                                pro.projectName.substring(pro.projectName.indexOf("_")+1) }}</span>
                                            <div class="time" v-cloak>
                                                {{ new Date(pro.modifytime).toLocaleString() }}
                                            </div>
                                        </div>
                                        <div class="info" v-on:click="copyUrl" data-clipboard-action="copy"
                                            :data-clipboard-target="'#copy-'+index">
                                            <span class="url" :id="'copy-'+index" v-cloak>{{
                                                'http://uitocode.oa.com/edit?id='+ pro.projectId + '&name=' +
                                                encodeURIComponent(encodeURIComponent(pro.projectName))
                                                }}</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
           </div>
           <div class="no-project-panel" v-else>
               暂无项目~
           </div>
           <div v-if="historyProjects.length" class="history-list-panel">
            <!-- 浏览的历史记录 -->
            <div class="navbar-control">
                <div class="navbar-control__sub">
                  <h2 class="mod-title" v-cloak>近期打开的项目（{{ historyProjects.length }}）</h2>
                </div>
              </div>
              <div class="resource-main">
                <div class="resource-wrap">
                  <ul class="resource-list project">
                    <!-- item -->
                    <!-- item -->
                    <li class="resource-item" v-for="(pro,index) in historyProjects">
                      <div
                        class="resource-item__inner"
                        v-bind:data-pid="pro.projectId"
                        v-bind:data-pname="pro.projectName"
                      >
                        <div class="img-wrap">
                          <div
                            v-bind:style="{backgroundImage: 'url(http://10.64.70.80:8080/unzip_file/'+pro.projectName+'/previews/preview.png)'}"
                            class="imgs less"
                          >
                            <b class="mask"></b>
                            <div class="imgs-inner">
                              <span class="img" style="opacity:0;"></span>
                            </div>
                          </div>
                          <div class="mask-wrap" v-on:click="viewProjectById" v-bind:data-projectid="pro.projectId" v-bind:data-projectname="pro.projectName">
                            <div class="btn-more-wrap dropdown">
                              <button class="btn-more"></button>
                              <ul class="dropdown-menu">
                                <!-- <li class="dropdown-item" v-on:click.stop="editUrl('/edit?id='+pro.projectId+'&name='+pro.projectName)">编辑</li> -->
                                <li
                                  class="dropdown-item"
                                  v-on:click.stop="deleteHistoryProjectById"
                                  :id="pro.id"
                                >
                                  删除
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="info-bar">
                          <!--
                            <span style="background-image: url(&quot;https://xshow.tencent.com/s/avatar/5f5f4e144b73f9fc.png&quot;);" class="avatar">
                            </span>
                          -->
                          <div class="content">
                            <div class="name">
                              <span class="txt" v-cloak>{{ pro.projectName.substring(pro.projectName.indexOf("_")+1) }}</span>
                              <div class="time" v-cloak>
                                  {{ new Date(pro.modifytime).toLocaleString() }}
                                </div>
                            </div>
                            <div class="info" v-on:click="copyUrl" data-clipboard-action="copy" :data-clipboard-target="'#copy-'+index">
                                <span v-bind:href="'http://uitocode.oa.com/edit?id='+ pro.projectId + '&name=' + pro.projectName" class="url" :id="'copy-'+index" v-cloak>{{
                                  'http://uitocode.oa.com/edit?id='+ pro.projectId + '&name=' + pro.projectName
                                }}</a>
                              <!---->
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <!-- item -->
                    <!-- item -->
                  </ul>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>