<div class="page-demo" v-on:click="showExampleDemo"> 
        <div class="demo-more"></div> 
        <ul class="resource-list project">

                <li class="resource-item" v-for="(pro,index) in demoprojects">
                        <div
                          class="resource-item__inner"
                          v-bind:data-pid="pro.projectId"
                          v-bind:data-pname="pro.projectName"
                        >
                          <div class="img-wrap">
                            <div
                              v-bind:style="{backgroundImage: 'url(http://10.64.70.68:8080/unzip_file/'+pro.projectName+'/previews/preview.png)'}"
                              class="imgs less"
                            >
                              <b class="mask"></b>
                              <div class="imgs-inner">
                                <span class="img" style="opacity:0;"></span>
                              </div>
                            </div>
                            <div class="mask-wrap" v-on:click="viewProjectById" v-bind:data-projectid="pro.projectId" v-bind:data-projectname="pro.projectName">
                              <div class="btn-more-wrap dropdown">
                                <button class="btn-more"></button>
                                <ul class="dropdown-menu">
                                  <!-- <li class="dropdown-item" v-on:click.stop="editUrl('/edit?id='+pro.projectId+'&name='+pro.projectName)">编辑</li> -->
                                  <li
                                    class="dropdown-item"
                                    v-on:click.stop="deleteHistoryProjectById"
                                    :id="pro.id"
                                  >
                                    删除
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="info-bar">
                            <!--
                              <span style="background-image: url(&quot;https://xshow.tencent.com/s/avatar/5f5f4e144b73f9fc.png&quot;);" class="avatar">
                              </span>
                            -->
                            <div class="content">
                              <div class="name">
                                <span class="txt" v-cloak>{{ pro.projectName.substring(pro.projectName.indexOf("_")+1) }}</span>
                                <div class="time" v-cloak>
                                        {{ new Date(pro.modifytime)|formatDate }}
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                </li> 
        </ul> 
       </div>
<!-- 上传区域 -->
<div class="upload-panel">
    <form class="upload-form" enctype="multipart/form-data" method="post" name="fileinfo" id="uploadForm">
        <a href="javascript:;" class="choose-file-btn"> </a>
        <input type="file" name="content" class="choose-file-input" v-on:change="addProject" />
    </form>
</div>
<!-- main -->
<div class="page-main">
    <div class="resource-area">
        <div class="container">
          <!-- 历史记录 -->
            <div v-if="historyProjects.length" class="history-list-panel">
                <!-- 浏览的历史记录 -->
                <div class="navbar-control">
                    <div class="navbar-control__sub">
                      <h2 class="mod-title" v-cloak>最近浏览（{{ historyProjects.length }}）</h2>
                    </div>
                  </div>
                  <div class="resource-main">
                    <div class="resource-wrap">
                      <ul class="resource-list project">
                        <!-- item -->
                        <!-- item -->
                        <li class="resource-item" v-for="(pro,index) in historyProjects">
                          <div
                            class="resource-item__inner"
                            v-bind:data-pid="pro.projectId"
                            v-bind:data-pname="pro.projectName"
                          >
                            <div class="img-wrap">
                              <div
                                v-bind:style="{backgroundImage: 'url(http://10.64.70.68:8080/unzip_file/'+pro.projectName+'/previews/preview.png)'}"
                                class="imgs less"
                              >
                                <b class="mask"></b>
                                <div class="imgs-inner">
                                  <span class="img" style="opacity:0;"></span>
                                </div>
                              </div>
                              <div class="mask-wrap" v-on:click="viewProjectById" v-bind:data-projectid="pro.projectId" v-bind:data-projectname="pro.projectName">
                                <div class="btn-more-wrap dropdown">
                                  <button class="btn-more"></button>
                                  <ul class="dropdown-menu">
                                    <!-- <li class="dropdown-item" v-on:click.stop="editUrl('/edit?id='+pro.projectId+'&name='+pro.projectName)">编辑</li> -->
                                    <li
                                      class="dropdown-item"
                                      v-on:click.stop="deleteHistoryProjectById"
                                      :id="pro.id"
                                    >
                                      删除
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div class="info-bar">
                              <!--
                                <span style="background-image: url(&quot;https://xshow.tencent.com/s/avatar/5f5f4e144b73f9fc.png&quot;);" class="avatar">
                                </span>
                              -->
                              <div class="content">
                                <div class="name">
                                  <span class="txt" v-cloak>{{ pro.projectName.substring(pro.projectName.indexOf("_")+1) }}</span>
                                  <div class="time" v-cloak>
                                        {{ new Date(pro.modifytime)|formatDate }}
                                    </div>
                                </div>
                                <div class="info">
                                  <div class="user-info-panel">
                                      <span v-bind:style="{backgroundImage: 'url(http://dcloud.oa.com/Public/Avatar/'+pro.username+'.png)'}" class="avatar" v-cloak></span>
                                      <span class="user-name" v-text="pro.username"></span>
                                  </div>
                               
                                  <div class="copy-btn" v-on:click="copyUrl" data-clipboard-action="copy" :data-clipboard-target="'#copy-my'+index">复制链接</div>
                                  <span class="url" :id="'copy-my'+index" v-cloak>{{
                                      'http://uitocode.oa.com/edit?id='+ pro.projectId + '&name=' +
                                      encodeURIComponent(encodeURIComponent(pro.projectName))
                                      }}</span>
                              </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <!-- item -->
                        <!-- item -->
                      </ul>
                    </div>
                  </div>
            </div>
            <!-- 个人项目 -->
            <div v-if="projects.length>0" class="project-list-panel">
            <div class="navbar-control">
                <div class="navbar-control__sub">
                    <h2 class="mod-title" v-cloak>我的项目（{{ projects.length }}）</h2>
                </div>
            </div>
            <div class="resource-main">
                <div class="resource-wrap">
                    <ul class="resource-list project">
                        <!-- item -->
                        <!-- item -->
                        <li class="resource-item" v-for="(pro,index) in projects">
                            <div class="resource-item__inner" v-bind:data-pid="pro.projectId" v-bind:data-pname="pro.projectName">
                                <div class="img-wrap">
                                    <div v-bind:style="{backgroundImage: 'url(http://10.64.70.68:8080/unzip_file/'+pro.projectName+'/previews/preview.png)'}"
                                         class="imgs less">
                                        <b class="mask"></b>
                                        <div class="imgs-inner">
                                             <span class="img" style="opacity:0;"></span>
                                        </div>
                                    </div>
                                    <div class="mask-wrap" v-on:click="viewProjectById" v-bind:data-projectid="pro.projectId"
                                        v-bind:data-projectname="pro.projectName">
                                        <div class="btn-more-wrap dropdown">
                                            <button class="btn-more"></button>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-item" v-on:click.stop="editProject(pro.projectId,pro.projectName)">编辑</li>
                                                <li class="dropdown-item" v-on:click.stop="deleteProjectById" :id="pro.id">
                                                    删除
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-bar">
                                    <div class="content">
                                        <div class="name">
                                            <span class="txt" v-cloak>{{
                                                pro.projectName.substring(pro.projectName.indexOf("_")+1) }}</span>
                                            <div class="time" v-cloak>
                                                {{ new Date(pro.modifytime)|formatDate }}
                                            </div>
                                        </div>
                                        <div class="info">
                                            <div class="user-info-panel">
                                                <span v-bind:style="{backgroundImage: 'url(http://dcloud.oa.com/Public/Avatar/'+user.staffname+'.png)'}" class="avatar" v-cloak></span>
                                                <span class="user-name" v-text="user.staffname"></span>
                                            </div>
                                         
                                            <div class="copy-btn" v-on:click="copyUrl" data-clipboard-action="copy" :data-clipboard-target="'#copy-my'+index">复制链接</div>
                                            <span class="url" :id="'copy-my'+index" v-cloak>{{
                                                'http://uitocode.oa.com/edit?id='+ pro.projectId + '&name=' +
                                                encodeURIComponent(encodeURIComponent(pro.projectName))
                                                }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
           </div>
           <div class="no-project-panel" v-else>
               <p>暂无个人项目~</p>
               <p class="tips">内测版，只支持移动端 sketch文件格式</p>
           </div>
           
        </div>
    </div>
</div>

<!--咨询入口-->
<div id="jmod-fixed-bar" class="fixed-bar">
    <a href="https://support.qq.com/products/33596" target="_blank" title="意见反馈" class="item feedback"></a>
    <div id="jmod-backtotop-wrap" href="#" title="返回顶部" style="visibility: hidden;" class="item backtop"></div>
</div>