<li class="resource-item">
  <div
    data-pid="61351fe0-1325-11e9-9078-b3b684b6bb94"
    data-pname="20190108171127_游戏城"
    class="resource-item__inner"
  >
    <div class="img-wrap">
      <div
        class="imgs less"
        style="background-image: url(&quot;http://10.64.70.68:8080/unzip_file/20190108171127_游戏城/previews/preview.png&quot;);"
      >
        <b class="mask"></b>
        <div class="imgs-inner">
          <span class="img" style="opacity: 0;"></span>
        </div>
      </div>
      <div
        data-projectid="61351fe0-1325-11e9-9078-b3b684b6bb94"
        data-projectname="20190108171127_游戏城"
        class="mask-wrap"
      >
        <div class="btn-more-wrap dropdown">
          <button class="btn-more"></button>
          <ul class="dropdown-menu">
            <li class="dropdown-item">编辑</li>
            <li id="702" class="dropdown-item">删除</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="info-bar">
      <div class="content">
        <div class="name">
          <span class="txt">游戏城</span>
          <div class="time">2019-01-08</div>
        </div>
        <div
          data-clipboard-action="copy"
          data-clipboard-target="#copy-0"
          class="info"
        >
          <span id="copy-0" class="url"
            >http://uitocode.oa.com/edit?id=61351fe0-1325-11e9-9078-b3b684b6bb94&amp;name=20190108171127_%25E6%25B8%25B8%25E6%2588%258F%25E5%259F%258E</span
          >
        </div>
      </div>
    </div>
  </div>
</li>
