<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>视觉编译-设计规范</title>

    <style>
      body {
        padding: 20px;
        background-color: #f2f2f2;
      }
      ol {
        font-size: 20px;
      }
      img {
        width: 1130px;
        margin-bottom: 50px;
      }
      .layout {
        width: 1200px;
        padding: 35px;
        margin: auto;
        background-color: #fff;
      }
    </style>
  </head>
  <body>
    <div class="layout">
      <h1>设计规范</h1>
      <p>
        暂时只支持sketch格式，暂时只支持移动端页面，我们尽量通过技术解决设计约束：
      </p>

      <ol>
        <li>
          <h2>解析</h2>
          <img src="../img/description1.png" />
        </li>
        <li>
          <h2>图层</h2>
          <img src="../img/description2.png" />
        </li>
        <li>
          <h2>文本</h2>
          <img src="../img/description3.png" />
        </li>
      </ol>
    </div>
  </body>
</html>
