<!DOCTYPE html>
<html>
  <head>
    <title>提示</title>
    <link rel="stylesheet" href="/css/error/error.css" />
  </head>
  <body>
    <!-- 头部 -->
    <%- include("./template/index/header.ejs") %>

    <div class="error-info">
      <h1><%= message %></h1>
      <h2><%= error.status %></h2>
      <pre><%= error.stack %></pre>
    </div>
    <script src="/js/lib/jquery.min.js"></script>
    <script>
      $(function() {
        $(".mod-header-logo").on("click", function() {
          top.postMessage("/", "http://uitocode.oa.com");
        });
      });
    </script>
  </body>
</html>
