<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/index.css'/>
</head>
<body>
<div class="mod-header">
    <div class="layout clearfix"><a class="mod-header-logo" href="/" _stat_click_id="header_logo"></a>
        <div class="mod-header-nav">
            <ul id="jmod-header-nav">
                <li id="nav-header-serv" data-cat="engine" class="top-cat hassub">
                    <h2><a href="#scene">应用场景</a></h2>
                </li>
                <li id="nav-header-accelerator" class="top-cat">
                    <h2><a href="#advantage" _stat_click_id="header_accelerator">方案优势</a></h2>
                </li>
                <li id="nav-header-info" class="top-cat">
                    <h2><a href="#experience" _stat_click_id="header_info">立即体验</a></h2>
                </li>
                <!--li#nav-header-doc.top-cat
                h2
                  a(href='##', _stat_click_id='header_doc') 开放接口
                -->
            </ul>
            <i style="transform: translateX(0px);" class="jmod-nav-slider slider hidden"></i>
        </div>
        <div class="mod-header-user"><a href="http://support.qq.com/products/33596" class="try jmod-header-try"
                                        target="_blank">意见反馈</a></div>
    </div>
</div>
<div class="banner banner-fixed" id="banner">
    <div class="banner-video">
        <div class="play-video play-banner"></div>
    </div>
    <div class="layout clearfix">
        <div class="banner-intro">
            <h1 class="banner-name">设计编译-内测版</h1>
            <p class="banner-des">通过算法把设计稿 PSD、Sketch 翻译为计算机语言 <br> 适用于Ios、Android、H5 等平台</p>
            <div class="banner-btns">
                <a class="btn btn-consult jmod-contact-qq" href="#experience" _stat_click_id="banner_consult">立即体验</a>
            </div>
        </div>
    </div>
</div>
<div class="sec scene">
    <div class="layout">
        <h1 id="scene">应用场景</h1>
        <ul>
            <li class="scene-item">
                <div class="scene-item-img"><img
                            src="img/p1.jpg?max_age=31536000">
                    <h5>设计还原</h5>
                </div>
                <div class="scene-item-des">把设计稿转为UI代码，适用绝对布局及autolayout</div>
            </li>
            <li class="scene-item">
                <div class="scene-item-img"><img
                            src="img/p2.jpg?max_age=31536000">
                    <h5>多终端适配</h5>
                </div>
                <div class="scene-item-des">能提供iOS、Android、H5等平台语言的支持，同时能兼容各分辨率屏幕</div>
            </li>
            <li class="scene-item">
                <div class="scene-item-img"><img
                            src="img/p5.jpg?max_age=31536000">
                    <h5>视觉校对</h5>
                </div>
                <div class="scene-item-des">与规范文档智能比对，筛选出不符合要求的设计，并对问题进行重要程度排序</div>
            </li>
            <li class="scene-item">
                <div class="scene-item-img"><img src="img/p3.jpg?max_age=31536000">
                    <h5>快速验证</h5>
                </div>
                <div class="scene-item-des">上传设计稿即生成在线地址，以快速验证在各手机端的表现</div>
            </li>
            <li class="scene-item">
                <div class="scene-item-img"><img
                            src="img/p6.jpg?max_age=31536000">
                    <h5>色彩搭配</h5>
                </div>
                <div class="scene-item-des">提取出页面中所以用到的色彩占比，方便设计查看色彩的搭配比例，配色方案智能推荐与测试辅助创作</div>
            </li>
            <li class="scene-item">
                <div class="scene-item-img"><img
                            src="img/p4.jpg?max_age=31536000">
                    <h5>辅助创作</h5>
                </div>
                <div class="scene-item-des">帮助设计师排查错误，减少重复工作</div>
            </li>
        </ul>
    </div>
</div>
<div class="sec support">
    <div class="layout">
        <h1 id="advantage">方案优势</h1>
        <ul>
            <li class="support-item">
                <img src="img/4.svg" class="i">
                <h3>多平台适应</h3>
                <p>设计数据抽象DSL，能输出Ios、Android、H5所需语言</p>
            </li>
            <li class="support-item">
                <img src="img/5.svg" class="i">
                <h3>多格式支持</h3>
                <p>支持sketch、psd两种格式代码转换，满足不同的设计需求</p>
            </li>
            <li class="support-item">
                <img src="img/3.svg" class="i">
                <h3>数据收集</h3>
                <p>自动提取设计稿中的组件，用于规范校验及组件库生成</p>
            </li>
            <li class="support-item">
                <img src="img/6.svg" class="i">
                <h3>拟人化结构 </h3>
                <p>通过AI训练，自动识别页面组件，从而输出更合理页面结构</p>
            </li>
            <li class="support-item">
                <img src="img/2.svg" class="i">
                <h3>精确还原</h3>
                <p>程序解析设计参数一对一翻译，确保设计稿100%精确还原</p>
            </li>
            <li class="support-item">
                <img src="img/1.svg" class="i">
                <h3>图形处理</h3>
                <p>识别设计图层中的图形元素，把同一单元的图形，智能合并为图片</p>
            </li>
        </ul>
    </div>
</div>
<!--<div class="sec advan banner-fixed" id="advan">
    <div class="advan-video">
        <div class="play-video play-advan"></div>
    </div>
    <div class="layout advan-layout">
        <h1>方案优势</h1>
        <ul>
            <li class="advan-item"><i class="ico-advan-4"></i>
                <h3>多平台适应</h3>
                <p>设计抽象数据转换后，能输出ios、andrind、H5所需语言</p>
            </li>
            <li class="advan-item"><i class="ico-advan-1"></i>
                <h3>多格式支持</h3>
                <p>支持sketch、psd两种格式代码转换，满足不同的设计需求</p>
            </li>
            <li class="advan-item"><i class="ico-advan-2"></i>
                <h3>低门槛使用</h3>
                <p>设计稿可在线转换为所需代码，随时使用无需安装</p>
            </li>
            <li class="advan-item"><i class="ico-advan-3"></i>
                <h3>自我学习完善</h3>
                <p>数据结构更合理，代码实现更灵活，规避人工二次修改</p>
            </li>
            <li class="advan-item"><i class="ico-advan-5"></i>
                <h3>精确还原</h3>
                <p>瞬间完成设计稿100%精确还原，减少与设计师的反复核对</p>
            </li>
        </ul>
    </div>
</div>-->
<div class="sec case">
    <div class="layout">
        <h1 id="experience">功能体验</h1>
        <div class="case-list">
            <!--<a class="btn" href="##" target="_blank" _stat_click_id="footer_console">本地上传</a>-->

            <div class="upload-panel">
                <form class="upload-form" enctype="multipart/form-data" method="post" name="fileinfo" id="uploadForm">
                    <a href="javascript:;" class="choose-file-btn">上传设计稿
                        <input type="file" name="content"/>
                    </a>
                    <!--<div class="upload-btn" id="upload-btn">上传文件</div>-->
                    <div class="file-info">
                        <span class="file-name"></span>
                        <span class="file-size"></span>
                    </div>
                </form>
            </div>
            <p class="upload-tips">注意：内测版，暂时只支持sketch文件格式</p>
        </div>
    </div>
</div>
<div class="ai-footer">
    <div class="layout">
        <div class="col">
            <div class="col-title">加入我们</div>
            <div class="col-content">
                <p>志愿者要求：机器学习方向，图像识别处理方向，IOS开发工程师，Android开发工程师</p><br>
                <p class="mail">联系方式：<br/>stevenpan@tencent.com</p>
            </div>
        </div>
        <div class="col">
            <div class="col-title">团队成员</div>
            <div class="col-content">
                <ul class="members">
                    <li><img src="img/members/serenashen.png"></li>
                    <li><img src="img/members/hongyuzhou.png"></li>
                    <li><img src="img/members/trevorpang.jpg"></li>
                    <li><img src="img/members/skymlhuang.jpg"></li>
                    <li><img src="img/members/alltasxiao.jpg"></li>
                    <li><img src="img/members/bowentang.jpg"></li>
                    <li><img src="img/members/chironyang.jpg"></li>
                    <li><img src="img/members/chrisschen.jpg"></li>
                    <li><img src="img/members/ralychen.jpg"></li>
                    <li><img src="img/members/yixionglin.jpg"></li>
                    <li><img src="img/members/yonechen.jpg"></li>
                    <li><img src="img/members/stevenpan.jpg"></li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="col-content">
                <div class="qrcode"></div>
            </div>
        </div>
    </div>
    <div id="jmod-fixed-bar" class="fixed-bar"><a href="javascript:void(0);" title="QQ咨询"
                                                  _stat_click_id="fixedbar_contactqq"
                                                  class="item qq jmod-contact-qq"></a>
        <div id="jmod-backtotop-wrap" href="#" title="返回顶部" style="visibility: hidden;"
             _stat_click_id="fixedbar_backtotop" class="item backtop"></div>
    </div>
</div>
<!--<div class="video-wrap">
    <div class="play-close"></div>
    <video id="video" src="video/d.ogv" width="100%" height="100%" loop preload></video>
</div>-->
<script src="js/lib/jquery.min.js"></script>
<!--<script src="js/lib/scrolld.min.js"></script>-->
<!--页面弹框插件 -->
<script src="layer.js"></script>
<script src="js/util.js"></script>
<script src="js/index.js"></script>
</body>
</html>
