<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <!-- 顶部 -->
    <%- include("./template/index/header.ejs") %>
    <!-- 中间区域 -->
    <%- include("./template/index/main.ejs") %>
    <!-- 底部 -->
    <%- include("./template/index/footer.ejs") %>
    <script src="js/lib/jquery.min.js"></script>
    <!-- 页面弹框插件 -->
    <script src="layer.js"></script>
    <script src="js/util.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
