<div class="ai-footer">
  <div class="layout">
    <div class="col">
      <div class="col-title">加入我们</div>
      <div class="col-content">
        <p>
          计算机视觉、机器学习、iOS或Android终端
        </p>
        <br />
        <p class="mail">联系方式：<br />stevenpan@tencent.com</p>
      </div>
    </div>
    <div class="col">
      <div class="col-title">团队成员</div>
      <div class="col-content">
        <ul class="members">
          <li> <img src="img/members/hongyuzhou.png"></li>
          <li> <img src="img/members/alltasxiao.jpg"></li>
          <li> <img src="img/members/bowentang.jpg"></li>
          <li> <img src="img/members/chironyang.jpg"></li>
          <li> <img src="img/members/chrisschen.jpg"></li>
          <li> <img src="img/members/ralychen.jpg"></li>
          <li> <img src="img/members/yixionglin.jpg"></li>
          <li> <img src="img/members/yonechen.jpg"></li>
          <li> <img src="img/members/stevenpan.jpg"></li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="col-content"><div class="qrcode"></div></div>
    </div>
  </div>
<!--咨询入口-->
<div id="jmod-fixed-bar" class="fixed-bar">
    <a href="https://support.qq.com/products/33596" target="_blank" title="意见反馈" class="item feedback"></a>
    <div id="jmod-backtotop-wrap" href="#" title="返回顶部" style="visibility: hidden;" class="item backtop"></div>
</div>
</div>
