<div class="ai-footer">
  <div class="layout">
    <div class="col">
      <div class="col-title">加入我们</div>
      <div class="col-content">
        <p>
          志愿者要求：机器学习方向，计算机视觉方向，图像识别处理方向
        </p>
        <br />
        <p class="mail">联系方式：<br />stevenpan@tencent.com</p>
      </div>
    </div>
    <div class="col">
      <div class="col-title">团队成员</div>
      <div class="col-content">
        <ul class="members">
          <li><img src="http://km.oa.com/img/group_medium.png" /></li>
          <li><img src="http://km.oa.com/img/group_medium.png" /></li>
          <li><img src="http://km.oa.com/img/group_medium.png" /></li>
          <li><img src="http://km.oa.com/img/group_medium.png" /></li>
          <li><img src="http://km.oa.com/img/group_medium.png" /></li>
          <li><img src="http://km.oa.com/img/group_medium.png" /></li>
          <li><img src="http://km.oa.com/img/group_medium.png" /></li>
          <li><img src="http://km.oa.com/img/group_medium.png" /></li>
          <li><img src="http://km.oa.com/img/group_medium.png" /></li>
          <li><img src="http://km.oa.com/img/group_medium.png" /></li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="col-content"><div class="qrcode"></div></div>
    </div>
  </div>
  <div id="jmod-fixed-bar" class="fixed-bar">
    <a
      href="javascript:void(0);"
      title="QQ咨询"
      _stat_click_id="fixedbar_contactqq"
      class="item qq jmod-contact-qq"
    ></a>
    <div
      id="jmod-backtotop-wrap"
      href="#"
      title="返回顶部"
      style="visibility: hidden;"
      _stat_click_id="fixedbar_backtotop"
      class="item backtop"
    ></div>
  </div>
</div>
