<div class="mod-header">
  <div class="layout clearfix">
    <a class="mod-header-logo" href="#" _stat_click_id="header_logo"></a>
    <div class="mod-header-nav">
      <ul id="jmod-header-nav">
        <!-- <li id="nav-header-serv" data-cat="engine" class="top-cat hassub">
          <h2><a href="#scene">应用场景</a></h2>
        </li>
        <li id="nav-header-accelerator" class="top-cat">
          <h2>
            <a href="#advantage" _stat_click_id="header_accelerator"
              >方案优势</a
            >
          </h2>
        </li>
        <li id="nav-header-info" class="top-cat">
          <h2><a href="#" _stat_click_id="header_info">立即体验</a></h2>
        </li> -->
        <li id="nav-structure-experience" class="top-cat">
          <h2><a href="#">UI元素识别</a></h2>
        </li>
        <li id="nav-img-experience" class="top-cat">
            <h2><a href="#">UI标注辅助</a></h2>
        </li>
        <!--
          li#nav-header-doc.top-cat
          h2
            a(href='##', _stat_click_id='header_doc') 开放接口
        -->
      </ul>
      <i
        style="transform: translateX(0px);"
        class="jmod-nav-slider slider hidden"
      ></i>
    </div>
    <div class="mod-header-user">
      <a
        href="http://support.qq.com/products/33596"
        class="try jmod-header-try"
        target="_blank"
        >意见反馈</a
      >
    </div>
  </div>
</div>
