<div class="banner banner-fixed" id="banner">
  <div class="banner-video"><div class="play-video play-banner"></div></div>
  <div class="layout clearfix">
    <div class="banner-intro">
      <h1 class="banner-name">设计编译 - 内测版</h1>
      <p class="banner-des">
        通过算法把设计稿 PSD、Sketch 翻译为计算机语言 <br />
        适用于Ios、Android、H5 等平台
      </p>
      <div class="banner-btns">
        <a
          class="btn btn-consult jmod-contact-qq"
          href="#experience"
          _stat_click_id="banner_consult"
          >立即体验</a
        >
      </div>
    </div>
  </div>
</div>
<div class="sec scene">
  <div class="layout">
    <h1 id="scene">应用场景</h1>
    <ul>
      <li class="scene-item">
        <div class="scene-item-img">
          <img src="img/p1.jpg?max_age=31536000" />
          <h5>设计还原</h5>
        </div>
        <div class="scene-item-des">
          把设计稿转为UI代码，适用绝对布局及autolayout
        </div>
      </li>
      <li class="scene-item">
        <div class="scene-item-img">
          <img src="img/p2.jpg?max_age=31536000" />
          <h5>多终端适配</h5>
        </div>
        <div class="scene-item-des">
          能提供iOS、Android、H5等平台语言的支持，同时能兼容各分辨率屏幕
        </div>
      </li>
      <li class="scene-item">
        <div class="scene-item-img">
          <img src="img/p5.jpg?max_age=31536000" />
          <h5>视觉校对</h5>
        </div>
        <div class="scene-item-des">
          与规范文档智能比对，筛选出不符合要求的设计，并对问题进行重要程度排序
        </div>
      </li>
      <li class="scene-item">
        <div class="scene-item-img">
          <img src="img/p3.jpg?max_age=31536000" />
          <h5>快速验证</h5>
        </div>
        <div class="scene-item-des">
          上传设计稿即生成在线地址，以快速验证在各手机端的表现
        </div>
      </li>
      <li class="scene-item">
        <div class="scene-item-img">
          <img src="img/p6.jpg?max_age=31536000" />
          <h5>色彩搭配</h5>
        </div>
        <div class="scene-item-des">
          提取出页面中所以用到的色彩占比，方便设计查看色彩的搭配比例，配色方案智能推荐与测试辅助创作
        </div>
      </li>
      <li class="scene-item">
        <div class="scene-item-img">
          <img src="img/p4.jpg?max_age=31536000" />
          <h5>辅助创作</h5>
        </div>
        <div class="scene-item-des">帮助设计师排查错误，减少重复工作</div>
      </li>
    </ul>
  </div>
</div>
<div class="sec support">
  <div class="layout">
    <h1 id="advantage">方案优势</h1>
    <ul>
      <li class="support-item">
        <img src="img/4.svg" class="i" />
        <h3>多平台适应</h3>
        <p>设计数据抽象DSL，能输出Ios、Android、H5所需语言</p>
      </li>
      <li class="support-item">
        <img src="img/5.svg" class="i" />
        <h3>多格式支持</h3>
        <p>支持sketch、psd两种格式代码转换，满足不同的设计需求</p>
      </li>
      <li class="support-item">
        <img src="img/3.svg" class="i" />
        <h3>数据收集</h3>
        <p>自动提取设计稿中的组件，用于规范校验及组件库生成</p>
      </li>
      <li class="support-item">
        <img src="img/6.svg" class="i" />
        <h3>拟人化结构</h3>
        <p>通过AI训练，自动识别页面组件，从而输出更合理页面结构</p>
      </li>
      <li class="support-item">
        <img src="img/2.svg" class="i" />
        <h3>精确还原</h3>
        <p>程序解析设计参数一对一翻译，确保设计稿100%精确还原</p>
      </li>
      <li class="support-item">
        <img src="img/1.svg" class="i" />
        <h3>图形处理</h3>
        <p>识别设计图层中的图形元素，把同一单元的图形，智能合并为图片</p>
      </li>
    </ul>
  </div>
</div>

<div class="sec advan banner-fixed" id="advan">
  <div class="advan-video"><div class="play-video play-advan"></div></div>
  <div class="layout advan-layout">
    <h1>方案优势</h1>
    <ul>
      <li class="advan-item">
        <i class="ico-advan-4"></i>
        <h3>多平台适应</h3>
        <p>设计抽象数据转换后，能输出ios、andrind、H5所需语言</p>
      </li>
      <li class="advan-item">
        <i class="ico-advan-1"></i>
        <h3>多格式支持</h3>
        <p>支持sketch、psd两种格式代码转换，满足不同的设计需求</p>
      </li>
      <li class="advan-item">
        <i class="ico-advan-2"></i>
        <h3>低门槛使用</h3>
        <p>设计稿可在线转换为所需代码，随时使用无需安装</p>
      </li>
      <li class="advan-item">
        <i class="ico-advan-3"></i>
        <h3>自我学习完善</h3>
        <p>数据结构更合理，代码实现更灵活，规避人工二次修改</p>
      </li>
      <li class="advan-item">
        <i class="ico-advan-5"></i>
        <h3>精确还原</h3>
        <p>瞬间完成设计稿100%精确还原，减少与设计师的反复核对</p>
      </li>
    </ul>
  </div>
</div>
