<div class="banner" id="banner">
  <div class="version-wrapper">
    <div class="version-main">
      <h1>版本历史记录</h1>
      <div id="version-mod" class="version-mod">
        <div class="version-date">
          <h2>1.0.2</h2>
          <time>2019年1月25日</time>
        </div>
        <ol>
          <li>优化图元评分规则</li>
          <li>新增合并纬度的权重可视化调试平台</li>
          <li>优化可视化工具，图元测试，按照绝对定位方式来还原</li>
          <li>新增提取UI组件特征及代码绑定</li>
          <li>新增可视化结构测试工具</li>
          <li>优化CSS类名继承</li>
          <li>优化页面结构扩展性</li>
          <li>优化按钮模型的识别范围</li>
        </ol>
      </div>

      <div class="version-mod">
        <div class="version-date">
          <h2>1.0.1</h2>
          <time>2019年1月18日</time>
        </div>
        <ol>
          <li>优化整理流程及更新方法让，大家自己合并更新视觉编译</li>
          <li>优化DesignJson解析模块代码重构</li>
          <li>新增版本更新说明</li>
          <li>优化sketch多版本兼容</li>
          <li>优化AI数据训练打标工具</li>
          <li>优化desgin15数据集扩充</li>
        </ol>
      </div>

      <div class="version-mod">
        <div class="version-date">
          <h2>1.0.0</h2>
          <time>2019年1月11日</time>
        </div>
        <ol>
          <li>修复展示SKETCH名称选中有问题，无法取消</li>
          <li>新增匹配用户编译的版本库，当版本过低时进行自动更新</li>
          <li>新增意见反馈入口</li>
          <li>新增预览区的新页面打开按钮</li>
          <li>新增所有图片提供base64代码，方便直接使用</li>
          <li>新增开发者调试工具入口，针对管理员展现</li>
        </ol>
      </div>
      <a
        target="_blank"
        href="http://uitocode.oa.com/doc/version.html"
        class="more"
        >更多</a
      >
    </div>
  </div>

  <div class="banner-video"><div class="play-video play-banner"></div></div>
  <div class="layout clearfix">
    <div class="banner-intro">
      <h1 class="banner-name">视觉编译 - 内测版</h1>
      <p class="banner-des">通过程序算法，把设计稿翻译为计算机语言 <br /></p>
      <div class="banner-btns">
        <a
          class="btn btn-consult jmod-contact-qq"
          href="#experience"
          _stat_click_id="banner_consult"
          >立即体验</a
        >
      </div>
    </div>
  </div>
</div>
<div class="sec scene">
  <div class="layout">
    <h1 id="scene">应用场景</h1>
    <ul>
      <li class="scene-item">
        <div class="scene-item-img">
          <img src="img/p1.jpg?max_age=31536000" />
          <h5>设计还原</h5>
        </div>
        <div class="scene-item-des">
          把设计稿转为UI代码，适用绝对布局及autolayout
        </div>
      </li>
      <li class="scene-item">
        <div class="scene-item-img">
          <img src="img/p2.jpg?max_age=31536000" />
          <h5>多终端适配</h5>
        </div>
        <div class="scene-item-des">
          能提供iOS、Android、H5等平台语言的支持，同时能兼容各分辨率屏幕
        </div>
      </li>
      <li class="scene-item">
        <div class="scene-item-img">
          <img src="img/p5.jpg?max_age=31536000" />
          <h5>视觉校对</h5>
        </div>
        <div class="scene-item-des">
          与规范文档智能比对，筛选出不符合要求的设计，并对问题进行重要程度排序
        </div>
      </li>
      <li class="scene-item">
        <div class="scene-item-img">
          <img src="img/p3.jpg?max_age=31536000" />
          <h5>快速验证</h5>
        </div>
        <div class="scene-item-des">
          上传设计稿即生成在线地址，以快速验证在各手机端的表现
        </div>
      </li>
      <li class="scene-item">
        <div class="scene-item-img">
          <img src="img/p6.jpg?max_age=31536000" />
          <h5>色彩搭配</h5>
        </div>
        <div class="scene-item-des">
          分析色彩元素，方便设计师查看色彩的搭配比例，及推荐配色方案推荐
        </div>
      </li>
      <li class="scene-item">
        <div class="scene-item-img">
          <img src="img/p4.jpg?max_age=31536000" />
          <h5>辅助创作</h5>
        </div>
        <div class="scene-item-des">帮助设计师排查错误，减少重复工作</div>
      </li>
    </ul>
  </div>
</div>
<div class="sec support">
  <div class="layout">
    <h1 id="advantage">方案优势</h1>
    <ul>
      <li class="support-item">
        <img src="img/4.svg" class="i" />
        <h3>多平台适应</h3>
        <p>设计数据抽象DSL，能输出Ios、Android、H5所需语言</p>
      </li>
      <li class="support-item">
        <img src="img/5.svg" class="i" />
        <h3>多格式支持</h3>
        <p>支持sketch、psd两种格式代码转换，满足不同的设计需求</p>
      </li>
      <li class="support-item">
        <img src="img/3.svg" class="i" />
        <h3>数据收集</h3>
        <p>自动提取设计稿中的组件，用于规范校验及组件库生成</p>
      </li>
      <li class="support-item">
        <img src="img/6.svg" class="i" />
        <h3>拟人化结构</h3>
        <p>通过AI训练，自动识别页面组件，从而输出更合理页面结构</p>
      </li>
      <li class="support-item">
        <img src="img/2.svg" class="i" />
        <h3>精确还原</h3>
        <p>程序解析设计参数一对一翻译，确保设计稿100%精确还原</p>
      </li>
      <li class="support-item">
        <img src="img/1.svg" class="i" />
        <h3>图形处理</h3>
        <p>识别设计图层中的图形元素，把同一单元的图形，智能合并为图片</p>
      </li>
    </ul>
  </div>
</div>
