@import "../_global/reset.scss";
@import "../_global/header.scss";

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: #ffffff;
}

.mod-header {
  background-color: #000000;
  .mod-header-nav {
    display: none;
  }
}

.error-info {
  padding: 100px 20px;
  font-size: 14px;
  color: #000;
}
