/*中:预览
-----------------------------------------------------------------------*/
.screen-viewer {
  position: absolute;
  width: 100%;
  height: calc(100vh - 60px);
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMAUvP2/eAAAAARSURBVAjXY6ASYD6ATlAHAADy5gMN0fCqFwAAAABJRU5ErkJggg==)
    #191919;
  background-size: 16px 16px;
  overflow: auto;
  display: -webkit-box;
}

.screen-viewer-inner {
  position: relative;
  /* margin: 20px auto; */
  padding: 120px 0;
  //cursor: pointer;
  //2018-08-24
  display: -webkit-box;
  width: 100%;
  text-align: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;

  //height: 100%;
  //2018-09-27：编译模式
  .compilation-mode-list {
    margin-top: 30px;

    .compilation-mode-item {
      position: relative;
      list-style: none;
      display: inline-block;
      height: 26px;
      line-height: 26px;

      &.ai-mode-item {
        margin-left: 30px;
      }

      input {
        position: relative;
        visibility: visible;
        width: 16px;
        height: 16px;
        vertical-align: middle;
      }

      label {
        font-size: 15px;
        vertical-align: top;
      }
    }
  }
}

.design-coding-panel {
  display: -webkit-box;
  text-align: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;

  /*当前artBoard对应的预览图*/
  .design-img-panel {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    //滑动条slider样式
    .slider {
      &.slider-horizontal {
        .slider-track {
          height: 2px;
        }
        .slider-handle {
          margin-top: -9px;
        }
      }
      &.slider-vertical {
        .slider-track {
          width: 2px;
        }
        .slider-handle {
          margin-left: -9px;
        }
      }
    }
    .design-title {
      color: #ffffff;
    }

    .design-img {
      position: relative;
      overflow: hidden !important;
      img {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color: #ffffff;
        opacity: 1;
        clip-path: inset(0 100% 0 0);
      }
    }
  }

  .operate-dom-panel {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    //允许点击穿透
    pointer-events: none;
    z-index: 105;
    //移入样式
    .rules {
      display: none;
      //点击穿透
      pointer-events: none;
      .rule {
        &.rule-v {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          border: 1.2px dashed #5393ff;
          border-top: 0;
          border-bottom: 0;
          box-sizing: border-box;
          overflow: hidden;
          pointer-events: none;
          z-index: 100;
        }
        &.rule-h {
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          border: 1.2px dashed #5393ff;
          border-left: 0;
          border-right: 0;
          box-sizing: border-box;
          overflow: hidden;
          pointer-events: none;
          z-index: 100;
        }
      }
    }
    //选中样式
    .choose-dom-style {
      display: none;
      position: absolute;
      border: 1px solid #ff3366;
      box-sizing: border-box;
      z-index: 100;
      pointer-events: none;
      .dom-width-val {
        position: absolute;
        top: -19px;
        left: -1px;
        font-size: 12px;
        line-height: 15px;
        padding: 0 2px;
        border: 1px solid #ff3366;
        color: #ffffff;
        font-weight: bolder;
        background: #ff3366;
        border-radius: 2px;
        z-index: 100;
      }
      .dom-height-val {
        position: absolute;
        top: 0;
        font-size: 12px;
        line-height: 15px;
        padding: 0 2px;
        border: 1px solid #ff3366;
        color: #ffffff;
        font-weight: bolder;
        background: #ff3366;
        border-radius: 2px;
        z-index: 100;
      }
      .lt {
        position: absolute;
        top: -3px;
        left: -3px;
        width: 5px;
        height: 5px;
        border: 1px solid #ff3366;
        border-radius: 5px;
        box-sizing: border-box;
        background: #ffffff;
      }
      .lb {
        position: absolute;
        bottom: -3px;
        left: -3px;
        width: 5px;
        height: 5px;
        border: 1px solid #ff3366;
        border-radius: 5px;
        box-sizing: border-box;
        background: #ffffff;
      }
      .rt {
        position: absolute;
        right: -3px;
        top: -3px;
        width: 5px;
        height: 5px;
        border: 1px solid #ff3366;
        border-radius: 5px;
        box-sizing: border-box;
        background: #ffffff;
      }
      .rb {
        position: absolute;
        right: -3px;
        bottom: -3px;
        width: 5px;
        height: 5px;
        border: 1px solid #ff3366;
        border-radius: 5px;
        box-sizing: border-box;
        background: #ffffff;
      }
    }
    //测距样式
    #td {
      &.top-d {
        position: absolute;
        left: 100px;
        top: 10px;
        width: 1px;
        height: 100px;
        display: none;
        z-index: 100;
      }
      .line-t-before {
        position: absolute;
        width: 5px;
        height: 1px;
        background: #ff3366;
        left: -2px;
        top: 0;
      }
      .line-t-after {
        position: absolute;
        width: 5px;
        height: 1px;
        background: #ff3366;
        left: -2px;
        bottom: 0;
      }
      .line-t {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
        background: #ff3366;
      }
      .top-d-v {
        position: absolute;
        left: 3.5px;
        top: 30px;
        padding: 0 3px;
        color: #fff;
        background: #ff3366;
        font-size: 12px;
      }
    }
    #rd {
      &.right-d {
        position: absolute;
        left: 100px;
        top: 200px;
        width: 120px;
        height: 1px;
        display: none;
        z-index: 100;
      }
      .line-t-before {
        position: absolute;
        width: 1px;
        height: 5px;
        background: #ff3366;
        top: -2px;
        left: 0;
      }
      .line-t-after {
        position: absolute;
        width: 1px;
        height: 5px;
        background: #ff3366;
        right: 0;
        top: -2px;
      }
      .line-r {
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        background: #ff3366;
      }
      .right-d-v {
        position: absolute;
        left: 50%;
        top: -20px;
        padding: 0 3px;
        color: #fff;
        background: #ff3366;
        font-size: 12px;
      }
    }
    #bd {
      &.bottom-d {
        position: absolute;
        left: 100px;
        top: 300px;
        width: 1px;
        height: 120px;
        display: none;
        z-index: 100;
      }
      .line-t-before {
        position: absolute;
        width: 5px;
        height: 1px;
        background: #ff3366;
        left: -2px;
        top: 0;
      }
      .line-t-after {
        position: absolute;
        width: 5px;
        height: 1px;
        background: #ff3366;
        left: -2px;
        bottom: 0;
      }
      .line-b {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
        background: #ff3366;
      }
      .bottom-d-v {
        position: absolute;
        left: 3.5px;
        top: 20px;
        padding: 0 3px;
        color: #fff;
        background: #ff3366;
        font-size: 12px;
      }
    }
    #ld {
      &.left-d {
        position: absolute;
        left: 150px;
        top: 120px;
        width: 120px;
        height: 1px;
        display: none;
        z-index: 100;
      }
      .line-t-before {
        position: absolute;
        width: 1px;
        height: 5px;
        background: #ff3366;
        top: -2px;
        left: 0;
      }
      .line-t-after {
        position: absolute;
        width: 1px;
        height: 5px;
        background: #ff3366;
        right: 0;
        top: -2px;
      }

      .line-l {
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        background: #ff3366;
      }

      .left-d-v {
        position: absolute;
        left: 50%;
        top: 3.5px;
        padding: 0 3px;
        color: #fff;
        background: #ff3366;
        font-size: 12px;
      }
    }
  }

  .compile-result-panel {
    position: relative;
    .compile-title {
      color: #ffffff;
    }

    .screen {
      //2018-08-24
      //margin: 20px auto;
      position: relative;
      background: #fff;
      transition: all .5s ease-in;
      //pointer-events:auto;
      //放大缩小会被按钮遮住，但可能会影响调整结构选中输入框样式，样式在最下面
      //z-index: 100;
    }
  }
}

//比对操作区域
#data-area-slider {
  position: absolute;
  left: 0;
  right: 0;
  top: -30px;
  &.slider-horizontal {
    width: 100% !important;
  }
  .slider-handle {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      left: 7px;
      top: 20px;
      width: 6px;
      height: 761px;
      background: #0080ff;
      opacity: 0.7;
      z-index: 100;
    }
  }
}
#data-opacity-slider {
  position: absolute;
  right: -40px;
}
