
      //图片列
     .img-list-panel{
        margin-bottom: 90px;
     }

/*左:导航
----------------------------------------------------------------------*/
.navbar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 280px;
  background: #232527;
  z-index: 50;
  left: -280px;

  &.on {
    left: 0;
  }

  section {
    position: relative;
    overflow: auto;
  }

  .section-list {
    .section-item {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      //height: 100%;
      overflow-y: auto;

      &.current {
        display: block;
      }

      //图片素材面板
      .img-item-list {
        .img-item {
          height: 80px;
          padding: 10px 24px;
          display: flex;
          align-items: center;
          flex: 1;
          flex-direction: row;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;

          //width: 25%;
          &:first-child {
            margin-top: 0;
          }

          &:hover {
            background-color: rgba(0, 0, 0, 0.3);
          }

          .img-item-pic {
            width: 100px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            //背景
            background-color: #4a4a4a;
            background-image: linear-gradient(45deg,
              #000 25%,
              transparent 25%,
              transparent 75%,
              #000 75%,
              #000),
              linear-gradient(45deg,
              #000 25%,
              transparent 25%,
              transparent 75%,
              #000 75%,
              #000);
            background-size: 8px 8px;
            background-position: 0 0, 4px 4px;
            border-radius: 2px;

            img {
              min-height: 1px;
              max-height: 100%;
              max-width: 100%;
            }
          }

          .img-item-info {
            display: inline-block;
            margin-left: 10px;
            width: 150px;

            .img-item-name {
              display: inline-block;
              margin-bottom: 4px;
              width: 140px;
              font-size: 12px;
              color: #ffffff;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }

            .img-item-size {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}

.artboard-list {
  width: 100%;
  padding-bottom: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
  //2018-08-23
  height: calc(100% - 186px);

  li {
    padding: 16px;
    display: flex;
    cursor: pointer;

    div {
      position: relative;
      width: 100%;
      padding: 6px 0 4px 16px;
      flex: 1;
    }

    h3 {
      margin: 0 0 4px;
      padding: 0;
      color: #fff;
      font-size: 12px;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    small {
      font-size: 10px;
    }

    &:hover {
      background: #191a1e;
    }

    &.active {
      background: #454748;

      small {
        color: #fff;
      }
    }
  }
}

.pages-select {
  width: 100%;
  padding: 24px 0;
  position: relative;
  clear: both;

  h3 {
    margin: 0;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;

    em {
      padding-left: 2px;
      font-style: normal;
      font-size: 10px;
      color: #989a9c;
    }

    &:after {
      content: "";
      margin: 0 0 0 4px;
      width: 12px;
      height: 6px;
      display: inline-block;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAMAgMAAAAFXpXmAAAACVBMVEUAAABiZGZgYmThY1mHAAAAAnRSTlMAgJsrThgAAAA1SURBVAjXFckxAQAgDMTAZ6kI1KAHNYjoAipJsmS47Ec303XKnQy3AkIRm5UUUAIhERIhEfoqmRfpcqcFcAAAAABJRU5ErkJggg==) no-repeat;
      background-size: 12px 6px;
    }
  }
}

.pages-list {
  display: none;
  position: absolute;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  margin: -32px 0 0;
  padding: 8px;
  border-radius: 4px;
  list-style: none;
  width: 180px;
  background: #0f0f0f;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.8);

  li {
    label {
      display: block;
      padding: 10px;
      cursor: pointer;

      span {
        em {
          font-style: normal;
        }

        &:before {
          position: absolute;
          right: 8px;
        }
      }
    }
  }
}

.pages-list label span,
.unit-box label span {
  flex: 1;
}

.pages-list input,
.unit-box input {
  position: absolute;
  visibility: hidden;
}

.pages-list span:before,
.unit-box span:before {
  float: right;
  display: block;
  content: "";
  width: 16px;
  height: 16px;
}

.pages-list input:checked+span:before,
.pages-list label:hover span:before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAADICAMAAAAp4rTzAAAAaVBMVEUAAACYm5yYm500hPaDoMKYucs0hfaYm52Znp6bnZ01hfeYnJ2Zm540hvc8iv81hPWYm52YnJ2ZnJ01h/g2ifmcnJw4h/o1hfY1hfU1hfY1hfU1hfY0hfaZnJ41hfY2h/aYnJw0hfU0hPbpk+wAAAAAInRSTlMAo5LmCAP0nDIVeHFNSg6diGVZNCciGtvSw7arj3xpVkSETvQOmQAAAPlJREFUeNrt1MtuwjAQheFxYhNyIUBCwqXcOu//kHWMl6wqRlWl/1tYs5ojzZEsAH7rUZYbMXZX1VJsfat5SNhqtDI9l/+yyuibps/TOd1qlM+7qB7nZZhPKeMgBlZ58+Go0WkWC6+ux7HU6NyLidz2ankvXoyEq2bbIHYaTa5i6q5RI8Y2ZfkQAAAAAAAAAAAAAAAA4K11UazF2NM5V4itwZmHhL2LKtNzhdYqw3edz9Mt3WqSz2ud29XLUO9SRi0Gqry5LpxLeRZeXU9Tyrh5MZHbrpa39WIkDC7bB7HTuWQQU08XdfLOP/sVAQAAAAAAAAAAAAD4Yz84hg8qlGTZeQAAAABJRU5ErkJggg==);
  background-size: 50px 100px;
}

.pages-list label:hover span:before {
  background-position: 0 -50px;
}

.pages-list input:checked+span:before {
  background-position: 0 0;
}

//下载项目按钮
.download-btn {
  position: fixed;
  bottom: 42px;
  left:23px;
  width:230px;
  display: inline-block;
  padding: 10px 15px;
  background: #3484f5;
  background: linear-gradient(to right, rgb(0, 128, 255), rgb(83, 209, 253));
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;
  &:hover {
    opacity: 0.9;
  }
  &:active {
    opacity: 0.7;
  }
}

//勾选按钮
.choose-sketch-chx{
  position: fixed;
  left: 65px;
  bottom: 17px;
}


//2018-11-11:合并
// Yone开始
.btn-operate {
  margin: 20px;
  width: 240px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border-style: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  background: linear-gradient(to right, rgb(0, 128, 255), rgb(83, 209, 253));

  &:disabled {
    background: #ccc;
  }
}