//2018-10-25:侧边栏属性显示面板
.attribute-show-panel {
  position: absolute;
  top: 0;
  right: -300px;
  bottom: 0;
  width: 300px;
  font-size: 12px;
  background: #232527;
  -webkit-box-shadow: 0 0 10px #011;
  -moz-box-shadow: 0 0 10px #011;
  box-shadow: 0 0 10px #011;
  transition: all 0.3s linear;
  z-index: 101;

  .node-name {
    padding: 10px;
    line-height: 20px;
    text-align: center;
    color: #f9f9f9;
    background-color: #232527;
  }

  .attribute-panel {}

  .fontSize-panel {
    display: none;
  }

  .code-panel {
    position: relative;

    .copy-code-btn {
      position: absolute;
      right: 6px;
      top: 0;
      padding: 0 10px;
      font-size: 13.5px;
      height: 32px;
      line-height: 32px;
      color: #cccccc;
      font-size: 12px;

      &:active {
        opacity: 0.7;
      }
    }

    .language-panel {
      -moz-user-select: text;
      -webkit-user-select: text;
      -ms-user-select: text;
      -khtml-user-select: text;
      user-select: text;
      background-color: rgba(255, 255, 255, .05);

      .language-attr-list {
        padding: 10px;

        li {
          padding: 5px 0;
          color: #ffffff;
          background: none;
          //text-shadow: 0 1px white;
          font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
          text-align: left;
          white-space: pre;
          word-spacing: normal;
          word-break: normal;
          word-wrap: normal;
          -moz-tab-size: 4;
          -o-tab-size: 4;
          tab-size: 4;
          -webkit-hyphens: none;
          -moz-hyphens: none;
          -ms-hyphens: none;
          hyphens: none;
          list-style-type: none;

          span {
            &:before {
              display: none;
            }

            &.property {
              color: #ef2896;
            }

            &.colon,
            &.semicolon {
              color: #c5c2c2;
            }
          }
        }
      }
    }
  }

  .section-title {
    padding: 0 16px;
    font-size: 13.5px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    color: #cccccc;
    background-image: linear-gradient(90deg,
      rgba(0, 4, 9, 0.32) 0,
      rgba(0, 2, 4, 0) 100%);
  }

  .attribute-list {
    .attribute-item {
      margin-bottom: 10px;
      font-size: 0;
      padding-left: 16px;
      height: 40px;
      line-height: 40px;

      .attribute-title {
        display: inline-block;
        width: 68px;
        font-size: 12px;
        vertical-align: middle;

        &:before {
          display: none;
        }
      }

      .color-bac {
        display: inline-block;
        width: 24px;
        height: 24px;
        vertical-align: middle;

        &:before {
          display: none;
        }
      }

      input {
        position: relative;
        display: inline-block;
        margin-right: 5px;
        width: 88px;
        height: 24px;
        line-height: 24px;
        color: #ffffff;
        font-size: 13.5px;
        background-color: rgba(255, 255, 255, .05);
        text-align: center;
        border: none;
        padding: 0 5px;
        border-radius: 2px;
        visibility: visible;
        vertical-align: middle;

        &.color-val {
          margin-left: -2px;
          border-radius: 0 2px 2px 0;
        }

        &.opacity-val,
        &.font-val,
        &.fontSize-val {
          width: 181px;
        }

        &.color-val {
          width: 158px;
        }
      }
    }
  }
}

.slideInRight {
  -webkit-animation: slideInRight 0.1s both;
  animation: slideInRight 0.1s both;
}

.fadeOutRight {
  -webkit-animation: fadeOutRight 0.1s both;
  animation: fadeOutRight 0.1s both;
}

@-webkit-keyframes slideInRight {
  0% {
    right: -300px;
  }

  100% {
    right: 0;
  }
}

@keyframes slideInRight {
  0% {
    right: -300px;
  }

  100% {
    right: 0;
  }
}

@-webkit-keyframes fadeOutRight {
  0% {
    right: 0;
  }

  100% {
    right: -300px;
  }
}

@keyframes fadeOutRight {
  0% {
    right: 0;
  }

  100% {
    right: -300px;
  }
}

//2018-09-26：图片查看
.magnify-modal {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
}

.magnify-header .magnify-toolbar {
  //width: 40px;
  background-color: rgba(0, 0, 0, 0.5);
}

.magnify-stage {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-width: 0;
}

.magnify-footer .magnify-toolbar {
  display: inline-block;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  .fa {
    font-size: 18px;
  }

  //自定义下载图标
  .magnify-button-download {
    a {
      color: #cccccc;
    }

    &:hover {
      a {
        color: #ffffff;
      }
    }
  }
}

.magnify-stage img {
  width: 0;
}

.magnify-stage {
  .show-img-info {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: #ffffff;
    font-size: 16px;

    .img-width {}

    .img-height {}
  }
}

.magnify-loading {
  background-color: transparent;
}