.page-header {
  position: relative;
  z-index: 10;

  .header-navbar {
    height: 62px;
    line-height: 62px;
    box-sizing: border-box;
    color: #999;
    font-size: 16px;
    background-color: #161616;
    position: relative;
    z-index: 2;

    .container {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      justify-content: space-between;
      max-width: 1170px;
      width: 95%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      font-size: 15px;

      .navbar-logo {
        //margin-right: 48px;
        color: #fff;
        font-size: 24px;
        line-height: 60px;
        font-family: Arial;
        font-weight: 700;

        &::before {
          content: "";
          display: inline-block;
          width: 189px;
          height: 60px;
          background-image: url(/img/sprite-ad720473bfcommon.png);
          background-position: 0 -64px;
          background-repeat: no-repeat;
          vertical-align: -16px;
        }
      }

      .header-navbar__main {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;

        .navbar-nav {
          -webkit-box-flex: 1;
          -webkit-flex: 1;
          flex: 1;
          display: -webkit-box;
          display: -webkit-flex;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
          -webkit-box-pack: end;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          padding-left: 0;
          margin: 0 10px 0;
          text-align: right;

          .nav-item {
            display: inline-block;
            letter-spacing: normal;
            position: relative;
            height: 100%;
            vertical-align: top;

            .nav-link {
              opacity: 0;
              color: #999;
              display: block;
              padding: 0 35px;
              line-height: 60px;
              -webkit-transition: all 0.2s ease-out;
              transition: all 0.2s ease-out;
              &:hover {
                color: #fff;
              }
            }
          }
        }

        .navbar-nav2 {
          display: -webkit-box;
          display: -webkit-flex;
          display: flex;
          .nav-link {
            color: #999;
            display: block;
            padding: 0 20px;
            line-height: 60px;
            text-decoration: none;
            -webkit-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;

            &:hover {
              color: #fff;
            }
          }
        }
      }

      .user-info {
        display: inline-block;
        position: relative;
        margin-left: 20px;

        .user-info-panel {
          display: inline-block;

          .avatar {
            width: 32px;
            height: 32px;
            border-radius: 32px;
            vertical-align: middle;
            margin-right: 8px;
            display: inline-block;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
          }

          .user-name {
            display: inline-block;
            padding-right: 10px;
            line-height: 24px;
            color: #fff;
            vertical-align: middle;
            font-weight: lighter;
          }
        }

        .feed-back-btn {
          background-color: #fff;
          color: #126ee1;
          padding: 8px 18px;
          border-radius: 3px;
          line-height: 1;
          display: inline-block;
          transition: all 0.3s ease;
          vertical-align: middle;
          font-size: 14px;
          margin: 0 10px 0 5px;
          touch-action: manipulation;
          font-weight: lighter;
          text-decoration: none;
        }
      }
    }
  }
}
