.page-main {
  .resource-area {
    .resource-navbar {
    }

    .container {
      max-width: 1170px;
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      position: relative;

      .project-list-panel,
      .history-list-panel,
      .no-project-panel {
        display: none;
      }
      .no-project-panel {
        font-size: 20px;
        text-align: center;
        margin-top: 220px;
        .tips {
          font-size: 15.5px;
          margin-top: 20px;
          color: #000;
          font-weight: bolder;
        }
      }
      .navbar-control {
        .navbar-control__sub {
          .mod-title {
            padding: 20px 0;
            font-weight: 400;
            font-size: 16px;
          }
        }
      }

      .resource-main {
        .resource-wrap {
          .resource-list {
            letter-spacing: -0.4em;
            margin-bottom: -48px;

            .resource-item {
              .resource-item__inner {
                .img-wrap {
                  .imgs {
                    .mask {
                      .imgs-inner {
                      }
                    }
                  }

                  .mask-wrap {
                    .btn-more-wrap {
                      .btn-more {
                        &:after {
                        }
                      }
                    }
                  }
                }

                .info-bar {
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 500px) {
      .container {
        min-width: 95%;
      }
    }
  }
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  display: inline-block;
  //cursor: pointer;
}

.dropdown-toggle:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: middle;
  content: "";
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropdown-menu {
  position: absolute;
  z-index: 10;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  min-width: 120px;
  right: 0;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
}

.dropdown-menu,
.dropdown-menu .dropdown-item {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.dropdown-menu .dropdown-item {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 24px;
  font-size: 14px;
  color: #8989a8;
  cursor: pointer;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f5f7fa;
  color: #20203a;
}

.dropdown:hover .dropdown-menu {
  -webkit-transform: translate(0);
  transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.resource-navbar {
  display: none;
  border-bottom: 1px solid #ccc;
}

.resource-navbar .navbar-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.resource-navbar .navbar-nav .nav-item {
  display: inline-block;
  vertical-align: top;
  height: 66px;
  line-height: 70px;
  margin: 0 12px;
  position: relative;
  font-size: 18px;
  cursor: pointer;
  padding: 0 2px;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.resource-navbar .navbar-nav .nav-item:after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 50%;
  bottom: -1px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: scaleX(0) translate(-50%);
  transform: scaleX(0) translate(-50%);
  opacity: 0;
  background-color: #ec1e5c;
}

.resource-navbar .navbar-nav .nav-link {
  color: #a8a7a5;
  margin-top: 4px;
}

.resource-navbar .navbar-nav .nav-item:hover .nav-link {
  color: #1c1d1d;
}

.navbar-control {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 10px;
  &:first-child {
    margin-top: 0;
  }
}

.navbar-control .mod-title {
  margin-bottom: 0;
}

.navbar-control__sub {
  display: block;
  overflow: hidden;
}

.resource-list {
  letter-spacing: -0.4em;
  margin-bottom: -48px;
}

.resource-list .resource-item {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 38px;
  letter-spacing: normal;
  position: relative;
}

.resource-list .resource-item__inner {
  background-color: #fff;
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
  position: relative;
  left: -12px;
  top: -12px;
}

.resource-list .resource-item:hover .resource-item__inner {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.resource-list .img-wrap {
  width: 100%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.resource-list .img-wrap .img {
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #efefef;
  background-size: cover;
  box-sizing: border-box;
  border: 1px solid #efefef;
}

.resource-list .mask-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}

.resource-list .mask-wrap {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.resource-list .btn-more-wrap {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: 0;
}

.resource-list .btn-more {
  width: 40px;
  height: 40px;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
}

.resource-list .btn-more:after {
  content: "";
  width: 23px;
  height: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -12px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAKCAYAAADLhGwXAAAABGdBTUEAALGPC/xhBQAAAJFJREFUOBHNVcENgCAQI+7FYrgVczgHWyi2CX6Mpsen4ZJGwp29UgFTGtF7z0AF2gDH+clHn3wH8PCgUQEu4B0nJsqEaB8PhNEhCvwL5qTzrAF8PGjGz6qiKtdB4OVBQ+5pFS0g3MqzKUGr5in8CIhbrwZ7xHuohEtTelC8A183AudmrkM/z1ip58chXGda6bkByBASCInb7fIAAAAASUVORK5CYII=);
  background-size: 100%;
}

.resource-list .btn-more-wrap .dropdown-menu {
  right: 5px;
  min-width: auto;
}

.resource-list .btn-more-wrap .dropdown-item {
  white-space: nowrap;
}

.resource-list .member-list {
  position: absolute;
  left: 50%;
  top: 50%;
  letter-spacing: -0.3em;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: translate(-50%, 15px);
  transform: translate(-50%, 15px);
  opacity: 0;
  text-align: center;
  width: 90%;
}

.resource-list .member-list .item {
  width: 24px;
  height: 24px;
  display: inline-block;
  letter-spacing: normal;
  margin: 0 4px;
  border-radius: 24px;
  vertical-align: top;
  margin-bottom: 3px;
}

.resource-list .member-list .item.avatar {
  cursor: pointer;
}

.resource-list .resource-item:hover .mask-wrap {
  visibility: visible;
  opacity: 1;
}

.resource-list .resource-item:hover .member-list {
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  opacity: 1;
}

.resource-list .info-bar {
  box-sizing: border-box;
  margin-top: 16px;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.resource-list .info-bar .content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  min-width: 0;
}

.resource-list .info-bar .avatar {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  box-sizing: border-box;
  border: 1px solid #d8d8d8;
  margin-right: 12px;
  cursor: pointer;
  -webkit-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

.resource-list .info-bar .avatar:hover {
  border-color: #f30e5a;
}

.resource-list .info-bar .name {
  position: relative;

  .time {
    font-size: 14px;
    width: 85px;
    overflow: hidden;
    height: 25px;
    line-height: 25px;
    float: right;
    margin-right: 2px;
    color: #888;
  }
}

.resource-list .info-bar .name .txt {
  width: 150px;
  padding-left: 15px;
  font-size: 18px;
  color: #1c1d1d;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  line-height: 25px;
  display: inline-block;
}

.resource-list .info-bar .info {
  text-align: left;
  overflow: hidden;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;

  .url {
    width: 100%;
    position: relative;
    display: block;
    font-size: 13.5px;
    color: #108df0;
    font-weight: normal;

    &:after {
      position: absolute;
      left: 0;
      width: 56px;
      content: "复制连接";
      display: inline-block;
    }
  }

  .url:before {
    position: absolute;
    right: -2px;
    top: 8px;
    width: 65px;
    text-align: center;
    font-size: 12px;
    content: "复制连接";
    display: inline-block;
    z-index: 222;
    background-color: #fff;
    height: 20px;
    line-height: 20px;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

.resource-list .info-bar .info .level {
  margin-left: 5px;
}

.resource-list .info-bar .info .level .item {
  display: inline-block;
  vertical-align: middle;
  padding: 3px 13px 1px;
  background-color: #ccc;
  height: 20px;
  border-radius: 20px;
  font-size: 12px;
  box-sizing: border-box;
  color: #fff;
}

.resource-list.project .resource-item {
  width: 24%;
  margin-left: 1%;
}

.resource-list.project .resource-item:nth-child(4n) {
  margin-right: 0;
}

.resource-list.project .imgs {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: left top;
}

.resource-list.project .imgs .mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.resource-list.project .imgs-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.resource-list.project .img {
  display: block;
  width: 122px;
  height: 216px;
  margin-right: 2px;
  background-position: 50% 0;
}

.resource-list.project .imgs.less .img {
  border: none;
}

.resource-list.project .img:last-child {
  margin-right: 0;
}

.resource-list.project .img.custom,
.resource-list.project .img.empty {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.resource-list.project .img.custom {
  background-size: cover;
}

.resource-list.project .empty-txt {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  padding: 8px 20px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.resource-list .resource-item__inner {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.resource-area {
  position: absolute;
  padding-bottom: 140px;
  width: 100%;
  -webkit-transition: all 0.35s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.35s cubic-bezier(0.55, 0, 0.1, 1);
}

/*文件上传区域*/
.upload-panel {
  position: fixed;
  right: 4rem;
  bottom: 4rem;
  cursor: pointer;
  z-index: 999;

  &:after {
    position: absolute;
    z-index: 1;
    width: 12.8rem;
    height: 12.8rem;
    left: 50%;
    top: 50%;
    background-color: #4138ba;
    border-radius: 50%;
    -webkit-animation: ripple 3s 0s ease infinite;
  }
  @-webkit-keyframes ripple {
    0% {
      opcity: 1;
      -webkit-transform: scale(1);
    }
    100% {
      opcity: 0.2;
      -webkit-transform: scale(1.4);
    }
  }

  .upload-form {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 58px;
    height: 58px;
    cursor: pointer;
  }

  .file-info {
    display: none;
    position: absolute;
    width: 100%;
    top: 131px;
    color: #fff;
    font-size: 14px;
    color: gray;

    .file-size {
      margin-left: 10px;
    }
  }

  .choose-file-btn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    background-color: #126ee1;
    background: linear-gradient(to right, #0080ff, #53d1fd);
    border-color: #126ee1;
    width: 58px;
    height: 58px;
    line-height: 58px;
    text-decoration: none;
    border-radius: 100%;
    font-size: 18px;
    text-align: center;
    box-shadow: 0 7px 16px rgba(18, 110, 225, 0.3);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 24px;
      height: 24px;
      margin: -12px 0 0 -12px;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABGdBTUEAALGPC/xhBQAAAUlJREFUaAXtWtENgkAMBUbwz4QdmMcFYQ1WcAeDX7oCvpcQowbKkXfIQdqkiV6vvfa9g9jGLFtB+r4voTW0G5SfyxWOih+SiUIf0F/hWvpFIEmiPSV1fMgiR0TmvDZT0kU+LstjB2TmVswcYtmX2oqlDqnt9wK2ZsQZcAZEBPwKiQDK7s6ADKEYwBkQAZTdnQEZQjHAMRjAT/jPHnaqGQlanwM0KIi9iQ3Tu8fO8YV96hV6mjs8MfsT+VQsgH3qJbHkQtNpWAD71HOoR2L77od4iNvEUF2STrv7h7jAlOOGkitoA70vKX+jvcyRuVbMPeqMhgXhpeBzIQIRKod4C4UWm+Q+Z2BrWpwBZ0BEwK+QCKDs7gzIEIoBnAERQNndGRiB0GqKLNtIqPmlNRhojWMtm+H2RxMasn3/2YNYDUVw/Mcx4NcoMDaWL7QdYC4kDbqMAAAAAElFTkSuQmCC);
      background-size: 100%;
      -webkit-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
    }

    &:hover {
      box-shadow: 0 7px 26px rgba(18, 110, 225, 0.3);
      background: red;
    }
  }

  .choose-file-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 58px;
    height: 58px;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;

    &:hover {
      box-shadow: 0 7px 26px rgba(18, 110, 225, 0.3);
    }
  }

  .upload-btn {
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    color: #ffffff;
    background-color: #126ee1;
    border-color: #126ee1;
    width: 120px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: default;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

.upload-form {
  z-index: 2;
}
.upload-panel:hover {
  transition: all 0.35s ease;
  -webkit-transform: rotate(270deg);
}
.upload-panel:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.05);
  content: "";
  opcity: 0.5;
  -webkit-animation: ripple 3s 0s ease infinite;
}
@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(1);
    opcity: 0;
  }
  50% {
    -webkit-transform: scale(1.5);
    opcity: 0.5;
  }
}
.demo-more {
  position: absolute;
  bottom: -15px;
  left: 50%;
  z-index: 2222;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-top: 15px solid #108df0;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}
.demo-more:after {
  position: absolute;
  top: -40px;
  left: -20px;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "DEMO";
  text-align: center;
  font-size: 14px;
}
.page-demo:hover {
  color: #108df0;
  background: #ffffff;
}
.page-demo:hover .demo-more {
  border-top: 15px solid #fff;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}
.page-demo {
  position: relative;
  display: block;
  height: 35px;
  color: #ffffff;
  background: #108df0;
  font-weight: bolder;
  //transition: all 0.2s ease;
  -webkit-animation: an-demo 2s 0s ease infinite;
  &.no-animation {
    -webkit-animation: none;
  }
}
.page-demo-display {
  height: 350px;
  background-color: #ffffff;
  -webkit-animation: none;
}
.page-demo ul {
  display: none;
  margin: auto;
  padding-top: 40px;
  width: 1170px;
}
.page-demo-display ul {
  display: block;
}
.page-demo-display .demo-more {
  display: none;
}
.page-demo ul .resource-item {
  margin-bottom: 20px;
}
.page-demo ul .btn-more-wrap {
  display: none;
}

@-webkit-keyframes an-demo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
